Web References/WS_MB_GET_DOCMAT_CONFIRM_QTY/ZWS_MB_GET_DOCMAT_CONFIRM_QTY_PUSA_DEV_100.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN__ZWS_MB_GET_DOCMAT_CONFIRM_QTY">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN__ZWS_MB_GET_DOCMAT_CONFIRM_QTY_soap12">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF__ZWS_MB_GET_DOCMAT_CONFIRM_QTY">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
          <sapsession:enableSession>false</sapsession:enableSession>
        </sapsession:Session>
        <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
          <sapcentraladmin:BusinessApplicationID>000C29FD93861EE589E23A0884D34E8B</sapcentraladmin:BusinessApplicationID>
        </sapcentraladmin:CentralAdministration>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP__ZwmMbGetDocmatConfirmQty">
    <wsp:ExactlyOne>
      <wsp:All>
        <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
        <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
        <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
        <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="byte16">
        <xsd:restriction base="xsd:base64Binary">
          <xsd:maxLength value="16" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char12">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="12" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char13">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="13" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char14">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="14" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char15">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="15" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char16">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="16" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char22">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="22" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char25">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="25" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char32">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="32" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char35">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="35" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char40">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char48">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="48" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char8">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char9">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="9" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="clnt3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="cuky5">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="5" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="curr13.2">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal11.0">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="11" />
          <xsd:fractionDigits value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal11.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="11" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal15.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="15" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal3.0">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="3" />
          <xsd:fractionDigits value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal3.1">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="3" />
          <xsd:fractionDigits value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal4.0">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="4" />
          <xsd:fractionDigits value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal5.0">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="5" />
          <xsd:fractionDigits value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal9.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="9" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="lang">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric12">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="12" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric14">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="14" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric5">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="5" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric8">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric9">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="9" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantum13.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantum15.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="15" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantum3.0">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="3" />
          <xsd:fractionDigits value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="string">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="time">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="unit3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:complexType name="ZclassificazioneZ01">
        <xsd:sequence>
          <xsd:element name="EtileUmconsegna" type="n0:char30" />
          <xsd:element name="EtileUmstatistica" type="n0:char30" />
          <xsd:element name="EtileUmbaseUmconsegna" type="xsd:float" />
          <xsd:element name="EtileUmbaseUmstatistica" type="xsd:float" />
          <xsd:element name="EtileUmbaseCollo" type="xsd:float" />
          <xsd:element name="EtileUmbaseMl" type="xsd:float" />
          <xsd:element name="EtilePezziScatola" type="xsd:float" />
          <xsd:element name="EtileScatolePallet" type="xsd:float" />
          <xsd:element name="EtilePallLargh" type="xsd:float" />
          <xsd:element name="EtilePallProfond" type="xsd:float" />
          <xsd:element name="EtilePallAltezzaPalCompl" type="xsd:float" />
          <xsd:element name="EtilePallAltezSingolPiano" type="xsd:float" />
          <xsd:element name="EtilePallNumeroPiani" type="xsd:float" />
          <xsd:element name="EtilePallColliPerPiano" type="xsd:float" />
          <xsd:element name="EtilePallAltezzaPianale" type="xsd:float" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZwmConfirmQtyInfoRec">
        <xsd:sequence>
          <xsd:element name="Meins" type="n0:unit3" />
          <xsd:element name="QtaTotaleBase" type="n0:quantum13.3" />
          <xsd:element name="QtaGiaConfermataBase" type="n0:quantum13.3" />
          <xsd:element name="QtaAncoraDaConfermareBase" type="n0:quantum13.3" />
          <xsd:element name="Vrkme" type="n0:unit3" />
          <xsd:element name="QtaTotaleCons" type="n0:quantum13.3" />
          <xsd:element name="QtaGiaConfermataCons" type="n0:quantum13.3" />
          <xsd:element name="QtaAncoraDaConfermareCons" type="n0:quantum13.3" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Mkpf">
        <xsd:sequence>
          <xsd:element name="Mandt" type="n0:clnt3" />
          <xsd:element name="Mblnr" type="n0:char10" />
          <xsd:element name="Mjahr" type="n0:numeric4" />
          <xsd:element name="Vgart" type="n0:char2" />
          <xsd:element name="Blart" type="n0:char2" />
          <xsd:element name="Blaum" type="n0:char2" />
          <xsd:element name="Bldat" type="n0:date10" />
          <xsd:element name="Budat" type="n0:date10" />
          <xsd:element name="Cpudt" type="n0:date10" />
          <xsd:element name="Cputm" type="n0:time" />
          <xsd:element name="Aedat" type="n0:date10" />
          <xsd:element name="Usnam" type="n0:char12" />
          <xsd:element name="Tcode" type="n0:char4" />
          <xsd:element name="Xblnr" type="n0:char16" />
          <xsd:element name="Bktxt" type="n0:char25" />
          <xsd:element name="Frath" type="n0:curr13.2" />
          <xsd:element name="Frbnr" type="n0:char16" />
          <xsd:element name="Wever" type="n0:char1" />
          <xsd:element name="Xabln" type="n0:char10" />
          <xsd:element name="Awsys" type="n0:char10" />
          <xsd:element name="Bla2d" type="n0:char2" />
          <xsd:element name="Tcode2" type="n0:char20" />
          <xsd:element name="Bfwms" type="n0:char1" />
          <xsd:element name="Exnum" type="n0:char10" />
          <xsd:element name="SpeBudatUhr" type="n0:time" />
          <xsd:element name="SpeBudatZone" type="n0:char6" />
          <xsd:element name="LeVbeln" type="n0:char10" />
          <xsd:element name="SpeLogsys" type="n0:char10" />
          <xsd:element name="SpeMdnumEwm" type="n0:char16" />
          <xsd:element name="GtsCusrefNo" type="n0:char35" />
          <xsd:element name="FlsRsto" type="n0:char1" />
          <xsd:element name="MsrActive" type="n0:char1" />
          <xsd:element name="Knumv" type="n0:char10" />
          <xsd:element name="ZzNatura" type="n0:char4" />
          <xsd:element name="Traid" type="n0:char20" />
          <xsd:element name="PalOut" type="n0:numeric5" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Mara">
        <xsd:sequence>
          <xsd:element name="Mandt" type="n0:clnt3" />
          <xsd:element name="Matnr" type="n0:char18" />
          <xsd:element name="Ersda" type="n0:date10" />
          <xsd:element name="Ernam" type="n0:char12" />
          <xsd:element name="Laeda" type="n0:date10" />
          <xsd:element name="Aenam" type="n0:char12" />
          <xsd:element name="Vpsta" type="n0:char15" />
          <xsd:element name="Pstat" type="n0:char15" />
          <xsd:element name="Lvorm" type="n0:char1" />
          <xsd:element name="Mtart" type="n0:char4" />
          <xsd:element name="Mbrsh" type="n0:char1" />
          <xsd:element name="Matkl" type="n0:char9" />
          <xsd:element name="Bismt" type="n0:char18" />
          <xsd:element name="Meins" type="n0:unit3" />
          <xsd:element name="Bstme" type="n0:unit3" />
          <xsd:element name="Zeinr" type="n0:char22" />
          <xsd:element name="Zeiar" type="n0:char3" />
          <xsd:element name="Zeivr" type="n0:char2" />
          <xsd:element name="Zeifo" type="n0:char4" />
          <xsd:element name="Aeszn" type="n0:char6" />
          <xsd:element name="Blatt" type="n0:char3" />
          <xsd:element name="Blanz" type="n0:numeric3" />
          <xsd:element name="Ferth" type="n0:char18" />
          <xsd:element name="Formt" type="n0:char4" />
          <xsd:element name="Groes" type="n0:char32" />
          <xsd:element name="Wrkst" type="n0:char48" />
          <xsd:element name="Normt" type="n0:char18" />
          <xsd:element name="Labor" type="n0:char3" />
          <xsd:element name="Ekwsl" type="n0:char4" />
          <xsd:element name="Brgew" type="n0:quantum13.3" />
          <xsd:element name="Ntgew" type="n0:quantum13.3" />
          <xsd:element name="Gewei" type="n0:unit3" />
          <xsd:element name="Volum" type="n0:quantum13.3" />
          <xsd:element name="Voleh" type="n0:unit3" />
          <xsd:element name="Behvo" type="n0:char2" />
          <xsd:element name="Raube" type="n0:char2" />
          <xsd:element name="Tempb" type="n0:char2" />
          <xsd:element name="Disst" type="n0:char3" />
          <xsd:element name="Tragr" type="n0:char4" />
          <xsd:element name="Stoff" type="n0:char18" />
          <xsd:element name="Spart" type="n0:char2" />
          <xsd:element name="Kunnr" type="n0:char10" />
          <xsd:element name="Eannr" type="n0:char13" />
          <xsd:element name="Wesch" type="n0:quantum13.3" />
          <xsd:element name="Bwvor" type="n0:char1" />
          <xsd:element name="Bwscl" type="n0:char1" />
          <xsd:element name="Saiso" type="n0:char4" />
          <xsd:element name="Etiar" type="n0:char2" />
          <xsd:element name="Etifo" type="n0:char2" />
          <xsd:element name="Entar" type="n0:char1" />
          <xsd:element name="Ean11" type="n0:char18" />
          <xsd:element name="Numtp" type="n0:char2" />
          <xsd:element name="Laeng" type="n0:quantum13.3" />
          <xsd:element name="Breit" type="n0:quantum13.3" />
          <xsd:element name="Hoehe" type="n0:quantum13.3" />
          <xsd:element name="Meabm" type="n0:unit3" />
          <xsd:element name="Prdha" type="n0:char18" />
          <xsd:element name="Aeklk" type="n0:char1" />
          <xsd:element name="Cadkz" type="n0:char1" />
          <xsd:element name="Qmpur" type="n0:char1" />
          <xsd:element name="Ergew" type="n0:quantum13.3" />
          <xsd:element name="Ergei" type="n0:unit3" />
          <xsd:element name="Ervol" type="n0:quantum13.3" />
          <xsd:element name="Ervoe" type="n0:unit3" />
          <xsd:element name="Gewto" type="n0:decimal3.1" />
          <xsd:element name="Volto" type="n0:decimal3.1" />
          <xsd:element name="Vabme" type="n0:char1" />
          <xsd:element name="Kzrev" type="n0:char1" />
          <xsd:element name="Kzkfg" type="n0:char1" />
          <xsd:element name="Xchpf" type="n0:char1" />
          <xsd:element name="Vhart" type="n0:char4" />
          <xsd:element name="Fuelg" type="n0:decimal3.0" />
          <xsd:element name="Stfak" type="xsd:short" />
          <xsd:element name="Magrv" type="n0:char4" />
          <xsd:element name="Begru" type="n0:char4" />
          <xsd:element name="Datab" type="n0:date10" />
          <xsd:element name="Liqdt" type="n0:date10" />
          <xsd:element name="Saisj" type="n0:char4" />
          <xsd:element name="Plgtp" type="n0:char2" />
          <xsd:element name="Mlgut" type="n0:char1" />
          <xsd:element name="Extwg" type="n0:char18" />
          <xsd:element name="Satnr" type="n0:char18" />
          <xsd:element name="Attyp" type="n0:char2" />
          <xsd:element name="Kzkup" type="n0:char1" />
          <xsd:element name="Kznfm" type="n0:char1" />
          <xsd:element name="Pmata" type="n0:char18" />
          <xsd:element name="Mstae" type="n0:char2" />
          <xsd:element name="Mstav" type="n0:char2" />
          <xsd:element name="Mstde" type="n0:date10" />
          <xsd:element name="Mstdv" type="n0:date10" />
          <xsd:element name="Taklv" type="n0:char1" />
          <xsd:element name="Rbnrm" type="n0:char9" />
          <xsd:element name="Mhdrz" type="n0:decimal4.0" />
          <xsd:element name="Mhdhb" type="n0:decimal4.0" />
          <xsd:element name="Mhdlp" type="n0:decimal3.0" />
          <xsd:element name="Inhme" type="n0:unit3" />
          <xsd:element name="Inhal" type="n0:quantum13.3" />
          <xsd:element name="Vpreh" type="n0:decimal5.0" />
          <xsd:element name="Etiag" type="n0:char18" />
          <xsd:element name="Inhbr" type="n0:quantum13.3" />
          <xsd:element name="Cmeth" type="n0:char1" />
          <xsd:element name="Cuobf" type="n0:numeric18" />
          <xsd:element name="Kzumw" type="n0:char1" />
          <xsd:element name="Kosch" type="n0:char18" />
          <xsd:element name="Sprof" type="n0:char1" />
          <xsd:element name="Nrfhg" type="n0:char1" />
          <xsd:element name="Mfrpn" type="n0:char40" />
          <xsd:element name="Mfrnr" type="n0:char10" />
          <xsd:element name="Bmatn" type="n0:char18" />
          <xsd:element name="Mprof" type="n0:char4" />
          <xsd:element name="Kzwsm" type="n0:char1" />
          <xsd:element name="Saity" type="n0:char2" />
          <xsd:element name="Profl" type="n0:char3" />
          <xsd:element name="Ihivi" type="n0:char1" />
          <xsd:element name="Iloos" type="n0:char1" />
          <xsd:element name="Serlv" type="n0:char1" />
          <xsd:element name="Kzgvh" type="n0:char1" />
          <xsd:element name="Xgchp" type="n0:char1" />
          <xsd:element name="Kzeff" type="n0:char1" />
          <xsd:element name="Compl" type="n0:numeric2" />
          <xsd:element name="Iprkz" type="n0:char1" />
          <xsd:element name="Rdmhd" type="n0:char1" />
          <xsd:element name="Przus" type="n0:char1" />
          <xsd:element name="MtposMara" type="n0:char4" />
          <xsd:element name="Bflme" type="n0:char1" />
          <xsd:element name="Matfi" type="n0:char1" />
          <xsd:element name="Cmrel" type="n0:char1" />
          <xsd:element name="Bbtyp" type="n0:char1" />
          <xsd:element name="SledBbd" type="n0:char1" />
          <xsd:element name="GtinVariant" type="n0:char2" />
          <xsd:element name="Gennr" type="n0:char18" />
          <xsd:element name="Rmatp" type="n0:char18" />
          <xsd:element name="GdsRelevant" type="n0:char1" />
          <xsd:element name="Weora" type="n0:char1" />
          <xsd:element name="HutypDflt" type="n0:char4" />
          <xsd:element name="Pilferable" type="n0:char1" />
          <xsd:element name="Whstc" type="n0:char2" />
          <xsd:element name="Whmatgr" type="n0:char4" />
          <xsd:element name="Hndlcode" type="n0:char4" />
          <xsd:element name="Hazmat" type="n0:char1" />
          <xsd:element name="Hutyp" type="n0:char4" />
          <xsd:element name="TareVar" type="n0:char1" />
          <xsd:element name="Maxc" type="n0:decimal15.3" />
          <xsd:element name="MaxcTol" type="n0:decimal3.1" />
          <xsd:element name="Maxl" type="n0:quantum15.3" />
          <xsd:element name="Maxb" type="n0:quantum15.3" />
          <xsd:element name="Maxh" type="n0:quantum15.3" />
          <xsd:element name="MaxdimUom" type="n0:unit3" />
          <xsd:element name="Herkl" type="n0:char3" />
          <xsd:element name="Mfrgr" type="n0:char8" />
          <xsd:element name="Qqtime" type="n0:quantum3.0" />
          <xsd:element name="Qqtimeuom" type="n0:unit3" />
          <xsd:element name="Qgrp" type="n0:char4" />
          <xsd:element name="Serial" type="n0:char4" />
          <xsd:element name="PsSmartform" type="n0:char30" />
          <xsd:element name="Logunit" type="n0:unit3" />
          <xsd:element name="Cwqrel" type="n0:char1" />
          <xsd:element name="Cwqproc" type="n0:char2" />
          <xsd:element name="Cwqtolgr" type="n0:char9" />
          <xsd:element name="Adprof" type="n0:char3" />
          <xsd:element name="Ipmipproduct" type="n0:char40" />
          <xsd:element name="AllowPmatIgno" type="n0:char1" />
          <xsd:element name="Medium" type="n0:char6" />
          <xsd:element name="Commodity" type="n0:char18" />
          <xsd:element name="AnimalOrigin" type="n0:char1" />
          <xsd:element name="TextileCompInd" type="n0:char1" />
          <xsd:element name="SgtCsgr" type="n0:char4" />
          <xsd:element name="SgtCovsa" type="n0:char8" />
          <xsd:element name="SgtStat" type="n0:char1" />
          <xsd:element name="SgtScope" type="n0:char1" />
          <xsd:element name="SgtRel" type="n0:char1" />
          <xsd:element name="Anp" type="n0:numeric9" />
          <xsd:element name="FshMgAt1" type="n0:char10" />
          <xsd:element name="FshMgAt2" type="n0:char10" />
          <xsd:element name="FshMgAt3" type="n0:char6" />
          <xsd:element name="FshSealv" type="n0:char1" />
          <xsd:element name="FshSeaim" type="n0:char1" />
          <xsd:element name="FshScMid" type="n0:char2" />
          <xsd:element name="PsmCode" type="n0:char2" />
          <xsd:element name="_-bev1_-luleinh" type="n0:numeric8" />
          <xsd:element name="_-bev1_-luldegrp" type="n0:char3" />
          <xsd:element name="_-bev1_-nestruccat" type="n0:char1" />
          <xsd:element name="_-dsd_-slToltyp" type="n0:char4" />
          <xsd:element name="_-dsd_-svCntGrp" type="n0:char10" />
          <xsd:element name="_-dsd_-vcGroup" type="n0:char6" />
          <xsd:element name="_-vso_-rTiltInd" type="n0:char1" />
          <xsd:element name="_-vso_-rStackInd" type="n0:char1" />
          <xsd:element name="_-vso_-rBotInd" type="n0:char1" />
          <xsd:element name="_-vso_-rTopInd" type="n0:char1" />
          <xsd:element name="_-vso_-rStackNo" type="n0:numeric3" />
          <xsd:element name="_-vso_-rPalInd" type="n0:char1" />
          <xsd:element name="_-vso_-rPalOvrD" type="n0:quantum13.3" />
          <xsd:element name="_-vso_-rPalOvrW" type="n0:quantum13.3" />
          <xsd:element name="_-vso_-rPalBHt" type="n0:quantum13.3" />
          <xsd:element name="_-vso_-rPalMinH" type="n0:quantum13.3" />
          <xsd:element name="_-vso_-rTolBHt" type="n0:quantum13.3" />
          <xsd:element name="_-vso_-rNoPGvh" type="n0:numeric2" />
          <xsd:element name="_-vso_-rQuanUnit" type="n0:unit3" />
          <xsd:element name="_-vso_-rKzgvhInd" type="n0:char1" />
          <xsd:element name="Packcode" type="n0:char10" />
          <xsd:element name="DgPackStatus" type="n0:char10" />
          <xsd:element name="Mcond" type="n0:char1" />
          <xsd:element name="Retdelc" type="n0:char1" />
          <xsd:element name="LoglevReto" type="n0:char1" />
          <xsd:element name="Nsnid" type="n0:char9" />
          <xsd:element name="Imatn" type="n0:char18" />
          <xsd:element name="Picnum" type="n0:char18" />
          <xsd:element name="Bstat" type="n0:char2" />
          <xsd:element name="ColorAtinn" type="n0:numeric10" />
          <xsd:element name="Size1Atinn" type="n0:numeric10" />
          <xsd:element name="Size2Atinn" type="n0:numeric10" />
          <xsd:element name="Color" type="n0:char18" />
          <xsd:element name="Size1" type="n0:char18" />
          <xsd:element name="Size2" type="n0:char18" />
          <xsd:element name="FreeChar" type="n0:char18" />
          <xsd:element name="CareCode" type="n0:char16" />
          <xsd:element name="BrandId" type="n0:char4" />
          <xsd:element name="FiberCode1" type="n0:char3" />
          <xsd:element name="FiberPart1" type="n0:numeric3" />
          <xsd:element name="FiberCode2" type="n0:char3" />
          <xsd:element name="FiberPart2" type="n0:numeric3" />
          <xsd:element name="FiberCode3" type="n0:char3" />
          <xsd:element name="FiberPart3" type="n0:numeric3" />
          <xsd:element name="FiberCode4" type="n0:char3" />
          <xsd:element name="FiberPart4" type="n0:numeric3" />
          <xsd:element name="FiberCode5" type="n0:char3" />
          <xsd:element name="FiberPart5" type="n0:numeric3" />
          <xsd:element name="Fashgrd" type="n0:char4" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Mseg">
        <xsd:sequence>
          <xsd:element name="Mandt" type="n0:clnt3" />
          <xsd:element name="Mblnr" type="n0:char10" />
          <xsd:element name="Mjahr" type="n0:numeric4" />
          <xsd:element name="Zeile" type="n0:numeric4" />
          <xsd:element name="LineId" type="n0:numeric6" />
          <xsd:element name="ParentId" type="n0:numeric6" />
          <xsd:element name="LineDepth" type="n0:numeric2" />
          <xsd:element name="MaaUrzei" type="n0:numeric4" />
          <xsd:element name="Bwart" type="n0:char3" />
          <xsd:element name="Xauto" type="n0:char1" />
          <xsd:element name="Matnr" type="n0:char18" />
          <xsd:element name="Werks" type="n0:char4" />
          <xsd:element name="Lgort" type="n0:char4" />
          <xsd:element name="Charg" type="n0:char10" />
          <xsd:element name="Insmk" type="n0:char1" />
          <xsd:element name="Zusch" type="n0:char1" />
          <xsd:element name="Zustd" type="n0:char1" />
          <xsd:element name="Sobkz" type="n0:char1" />
          <xsd:element name="Lifnr" type="n0:char10" />
          <xsd:element name="Kunnr" type="n0:char10" />
          <xsd:element name="Kdauf" type="n0:char10" />
          <xsd:element name="Kdpos" type="n0:numeric6" />
          <xsd:element name="Kdein" type="n0:numeric4" />
          <xsd:element name="Plpla" type="n0:char10" />
          <xsd:element name="Shkzg" type="n0:char1" />
          <xsd:element name="Waers" type="n0:cuky5" />
          <xsd:element name="Dmbtr" type="n0:curr13.2" />
          <xsd:element name="Bnbtr" type="n0:curr13.2" />
          <xsd:element name="Bualt" type="n0:curr13.2" />
          <xsd:element name="Shkum" type="n0:char1" />
          <xsd:element name="Dmbum" type="n0:curr13.2" />
          <xsd:element name="Bwtar" type="n0:char10" />
          <xsd:element name="Menge" type="n0:quantum13.3" />
          <xsd:element name="Meins" type="n0:unit3" />
          <xsd:element name="Erfmg" type="n0:quantum13.3" />
          <xsd:element name="Erfme" type="n0:unit3" />
          <xsd:element name="Bpmng" type="n0:quantum13.3" />
          <xsd:element name="Bprme" type="n0:unit3" />
          <xsd:element name="Ebeln" type="n0:char10" />
          <xsd:element name="Ebelp" type="n0:numeric5" />
          <xsd:element name="Lfbja" type="n0:numeric4" />
          <xsd:element name="Lfbnr" type="n0:char10" />
          <xsd:element name="Lfpos" type="n0:numeric4" />
          <xsd:element name="Sjahr" type="n0:numeric4" />
          <xsd:element name="Smbln" type="n0:char10" />
          <xsd:element name="Smblp" type="n0:numeric4" />
          <xsd:element name="Elikz" type="n0:char1" />
          <xsd:element name="Sgtxt" type="n0:char50" />
          <xsd:element name="Equnr" type="n0:char18" />
          <xsd:element name="Wempf" type="n0:char12" />
          <xsd:element name="Ablad" type="n0:char25" />
          <xsd:element name="Gsber" type="n0:char4" />
          <xsd:element name="Kokrs" type="n0:char4" />
          <xsd:element name="Pargb" type="n0:char4" />
          <xsd:element name="Parbu" type="n0:char4" />
          <xsd:element name="Kostl" type="n0:char10" />
          <xsd:element name="Projn" type="n0:char16" />
          <xsd:element name="Aufnr" type="n0:char12" />
          <xsd:element name="Anln1" type="n0:char12" />
          <xsd:element name="Anln2" type="n0:char4" />
          <xsd:element name="Xskst" type="n0:char1" />
          <xsd:element name="Xsauf" type="n0:char1" />
          <xsd:element name="Xspro" type="n0:char1" />
          <xsd:element name="Xserg" type="n0:char1" />
          <xsd:element name="Gjahr" type="n0:numeric4" />
          <xsd:element name="Xruem" type="n0:char1" />
          <xsd:element name="Xruej" type="n0:char1" />
          <xsd:element name="Bukrs" type="n0:char4" />
          <xsd:element name="Belnr" type="n0:char10" />
          <xsd:element name="Buzei" type="n0:numeric3" />
          <xsd:element name="Belum" type="n0:char10" />
          <xsd:element name="Buzum" type="n0:numeric3" />
          <xsd:element name="Rsnum" type="n0:numeric10" />
          <xsd:element name="Rspos" type="n0:numeric4" />
          <xsd:element name="Kzear" type="n0:char1" />
          <xsd:element name="Pbamg" type="n0:quantum13.3" />
          <xsd:element name="Kzstr" type="n0:char1" />
          <xsd:element name="Ummat" type="n0:char18" />
          <xsd:element name="Umwrk" type="n0:char4" />
          <xsd:element name="Umlgo" type="n0:char4" />
          <xsd:element name="Umcha" type="n0:char10" />
          <xsd:element name="Umzst" type="n0:char1" />
          <xsd:element name="Umzus" type="n0:char1" />
          <xsd:element name="Umbar" type="n0:char10" />
          <xsd:element name="Umsok" type="n0:char1" />
          <xsd:element name="Kzbew" type="n0:char1" />
          <xsd:element name="Kzvbr" type="n0:char1" />
          <xsd:element name="Kzzug" type="n0:char1" />
          <xsd:element name="Weunb" type="n0:char1" />
          <xsd:element name="Palan" type="n0:decimal11.0" />
          <xsd:element name="Lgnum" type="n0:char3" />
          <xsd:element name="Lgtyp" type="n0:char3" />
          <xsd:element name="Lgpla" type="n0:char10" />
          <xsd:element name="Bestq" type="n0:char1" />
          <xsd:element name="Bwlvs" type="n0:numeric3" />
          <xsd:element name="Tbnum" type="n0:numeric10" />
          <xsd:element name="Tbpos" type="n0:numeric4" />
          <xsd:element name="Xblvs" type="n0:char1" />
          <xsd:element name="Vschn" type="n0:char1" />
          <xsd:element name="Nschn" type="n0:char1" />
          <xsd:element name="Dypla" type="n0:char1" />
          <xsd:element name="Ubnum" type="n0:numeric10" />
          <xsd:element name="Tbpri" type="n0:char1" />
          <xsd:element name="Tanum" type="n0:numeric10" />
          <xsd:element name="Weanz" type="n0:numeric3" />
          <xsd:element name="Grund" type="n0:numeric4" />
          <xsd:element name="Evers" type="n0:char2" />
          <xsd:element name="Evere" type="n0:char2" />
          <xsd:element name="Imkey" type="n0:char8" />
          <xsd:element name="Kstrg" type="n0:char12" />
          <xsd:element name="Paobjnr" type="n0:numeric10" />
          <xsd:element name="Prctr" type="n0:char10" />
          <xsd:element name="PsPspPnr" type="n0:numeric8" />
          <xsd:element name="Nplnr" type="n0:char12" />
          <xsd:element name="Aufpl" type="n0:numeric10" />
          <xsd:element name="Aplzl" type="n0:numeric8" />
          <xsd:element name="Aufps" type="n0:numeric4" />
          <xsd:element name="Vptnr" type="n0:char10" />
          <xsd:element name="Fipos" type="n0:char14" />
          <xsd:element name="Sakto" type="n0:char10" />
          <xsd:element name="Bstmg" type="n0:quantum13.3" />
          <xsd:element name="Bstme" type="n0:unit3" />
          <xsd:element name="Xwsbr" type="n0:char1" />
          <xsd:element name="Emlif" type="n0:char10" />
          <xsd:element name="ZzCharg" type="n0:char10" />
          <xsd:element name="Exbwr" type="n0:curr13.2" />
          <xsd:element name="Vkwrt" type="n0:curr13.2" />
          <xsd:element name="Aktnr" type="n0:char10" />
          <xsd:element name="Zekkn" type="n0:numeric2" />
          <xsd:element name="Vfdat" type="n0:date10" />
          <xsd:element name="CuobjCh" type="n0:numeric18" />
          <xsd:element name="Exvkw" type="n0:curr13.2" />
          <xsd:element name="Pprctr" type="n0:char10" />
          <xsd:element name="Rsart" type="n0:char1" />
          <xsd:element name="Geber" type="n0:char10" />
          <xsd:element name="Fistl" type="n0:char16" />
          <xsd:element name="Matbf" type="n0:char18" />
          <xsd:element name="Ummab" type="n0:char18" />
          <xsd:element name="Bustm" type="n0:char4" />
          <xsd:element name="Bustw" type="n0:char4" />
          <xsd:element name="Mengu" type="n0:char1" />
          <xsd:element name="Wertu" type="n0:char1" />
          <xsd:element name="Lbkum" type="n0:quantum13.3" />
          <xsd:element name="Salk3" type="n0:curr13.2" />
          <xsd:element name="Vprsv" type="n0:char1" />
          <xsd:element name="Fkber" type="n0:char16" />
          <xsd:element name="Dabrbz" type="n0:date10" />
          <xsd:element name="Vkwra" type="n0:curr13.2" />
          <xsd:element name="Dabrz" type="n0:date10" />
          <xsd:element name="Xbeau" type="n0:char1" />
          <xsd:element name="Lsmng" type="n0:quantum13.3" />
          <xsd:element name="Lsmeh" type="n0:unit3" />
          <xsd:element name="Kzbws" type="n0:char1" />
          <xsd:element name="Qinspst" type="n0:char1" />
          <xsd:element name="Urzei" type="n0:numeric4" />
          <xsd:element name="J1bexbase" type="n0:curr13.2" />
          <xsd:element name="Mwskz" type="n0:char2" />
          <xsd:element name="Txjcd" type="n0:char15" />
          <xsd:element name="Ematn" type="n0:char18" />
          <xsd:element name="J1agirupd" type="n0:char1" />
          <xsd:element name="Vkmws" type="n0:char2" />
          <xsd:element name="Hsdat" type="n0:date10" />
          <xsd:element name="Berkz" type="n0:char1" />
          <xsd:element name="MatKdauf" type="n0:char10" />
          <xsd:element name="MatKdpos" type="n0:numeric6" />
          <xsd:element name="MatPspnr" type="n0:numeric8" />
          <xsd:element name="Xwoff" type="n0:char1" />
          <xsd:element name="Bemot" type="n0:char2" />
          <xsd:element name="Prznr" type="n0:char12" />
          <xsd:element name="Llief" type="n0:char10" />
          <xsd:element name="Lstar" type="n0:char6" />
          <xsd:element name="Xobew" type="n0:char1" />
          <xsd:element name="GrantNbr" type="n0:char20" />
          <xsd:element name="ZustdT156m" type="n0:char1" />
          <xsd:element name="SpeGtsStockTy" type="n0:char1" />
          <xsd:element name="Kblnr" type="n0:char10" />
          <xsd:element name="Kblpos" type="n0:numeric3" />
          <xsd:element name="Xmacc" type="n0:char1" />
          <xsd:element name="VgartMkpf" type="n0:char2" />
          <xsd:element name="BudatMkpf" type="n0:date10" />
          <xsd:element name="CpudtMkpf" type="n0:date10" />
          <xsd:element name="CputmMkpf" type="n0:time" />
          <xsd:element name="UsnamMkpf" type="n0:char12" />
          <xsd:element name="XblnrMkpf" type="n0:char16" />
          <xsd:element name="Tcode2Mkpf" type="n0:char20" />
          <xsd:element name="VbelnIm" type="n0:char10" />
          <xsd:element name="VbelpIm" type="n0:numeric6" />
          <xsd:element name="SgtScat" type="n0:char16" />
          <xsd:element name="SgtUmscat" type="n0:char16" />
          <xsd:element name="Dataaging" type="n0:date10" />
          <xsd:element name="SgtRcat" type="n0:char16" />
          <xsd:element name="_-bev2_-edKzVer" type="n0:char1" />
          <xsd:element name="_-bev2_-edUser" type="n0:char12" />
          <xsd:element name="_-bev2_-edAedat" type="n0:date10" />
          <xsd:element name="_-bev2_-edAetim" type="n0:time" />
          <xsd:element name="Oinavnw" type="n0:curr13.2" />
          <xsd:element name="Oicondcod" type="n0:char2" />
          <xsd:element name="Condi" type="n0:char2" />
          <xsd:element name="ZzEtileXblnr" type="n0:char16" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Ltap">
        <xsd:sequence>
          <xsd:element name="Mandt" type="n0:clnt3" />
          <xsd:element name="Lgnum" type="n0:char3" />
          <xsd:element name="Tanum" type="n0:numeric10" />
          <xsd:element name="Tapos" type="n0:numeric4" />
          <xsd:element name="Tbpos" type="n0:numeric4" />
          <xsd:element name="Posnr" type="n0:numeric6" />
          <xsd:element name="Matnr" type="n0:char18" />
          <xsd:element name="Werks" type="n0:char4" />
          <xsd:element name="Charg" type="n0:char10" />
          <xsd:element name="Bestq" type="n0:char1" />
          <xsd:element name="Sobkz" type="n0:char1" />
          <xsd:element name="Sonum" type="n0:char16" />
          <xsd:element name="Stoff" type="n0:char18" />
          <xsd:element name="Meins" type="n0:unit3" />
          <xsd:element name="Altme" type="n0:unit3" />
          <xsd:element name="Umrez" type="n0:decimal5.0" />
          <xsd:element name="Umren" type="n0:decimal5.0" />
          <xsd:element name="Letyp" type="n0:char3" />
          <xsd:element name="Kzfeh" type="n0:char1" />
          <xsd:element name="Lanum" type="n0:numeric3" />
          <xsd:element name="Kzqui" type="n0:char1" />
          <xsd:element name="Kznko" type="n0:char1" />
          <xsd:element name="Nulko" type="n0:numeric1" />
          <xsd:element name="Kzinv" type="n0:char2" />
          <xsd:element name="Ivnum" type="n0:char10" />
          <xsd:element name="Pquit" type="n0:char1" />
          <xsd:element name="Qdatu" type="n0:date10" />
          <xsd:element name="Qzeit" type="n0:time" />
          <xsd:element name="Qname" type="n0:char12" />
          <xsd:element name="Brgew" type="n0:decimal11.3" />
          <xsd:element name="Gewei" type="n0:unit3" />
          <xsd:element name="Mbpos" type="n0:numeric4" />
          <xsd:element name="Wempf" type="n0:char12" />
          <xsd:element name="Ablad" type="n0:char25" />
          <xsd:element name="Wdatu" type="n0:date10" />
          <xsd:element name="Wenum" type="n0:char10" />
          <xsd:element name="Wepos" type="n0:numeric4" />
          <xsd:element name="Zeugn" type="n0:char10" />
          <xsd:element name="Ldest" type="n0:char4" />
          <xsd:element name="Vorga" type="n0:char2" />
          <xsd:element name="Vltyp" type="n0:char3" />
          <xsd:element name="Vlber" type="n0:char3" />
          <xsd:element name="Vlpla" type="n0:char10" />
          <xsd:element name="Vkdyn" type="n0:char1" />
          <xsd:element name="Vppos" type="n0:char2" />
          <xsd:element name="Vanzl" type="n0:decimal9.3" />
          <xsd:element name="Vanbr" type="n0:char1" />
          <xsd:element name="Vsolm" type="n0:quantum13.3" />
          <xsd:element name="Vistm" type="n0:quantum13.3" />
          <xsd:element name="Vdifm" type="n0:quantum13.3" />
          <xsd:element name="Vsola" type="n0:quantum13.3" />
          <xsd:element name="Vista" type="n0:quantum13.3" />
          <xsd:element name="Vdifa" type="n0:quantum13.3" />
          <xsd:element name="Vlqnr" type="n0:numeric10" />
          <xsd:element name="Vappc" type="n0:char1" />
          <xsd:element name="Nltyp" type="n0:char3" />
          <xsd:element name="Nlber" type="n0:char3" />
          <xsd:element name="Nlpla" type="n0:char10" />
          <xsd:element name="Nkdyn" type="n0:char1" />
          <xsd:element name="Nppos" type="n0:char2" />
          <xsd:element name="Nanzl" type="n0:decimal9.3" />
          <xsd:element name="Nanbr" type="n0:char1" />
          <xsd:element name="Nsolm" type="n0:quantum13.3" />
          <xsd:element name="Nistm" type="n0:quantum13.3" />
          <xsd:element name="Ndifm" type="n0:quantum13.3" />
          <xsd:element name="Nsola" type="n0:quantum13.3" />
          <xsd:element name="Nista" type="n0:quantum13.3" />
          <xsd:element name="Ndifa" type="n0:quantum13.3" />
          <xsd:element name="Nlqnr" type="n0:numeric10" />
          <xsd:element name="Nappc" type="n0:char1" />
          <xsd:element name="Rltyp" type="n0:char3" />
          <xsd:element name="Rlber" type="n0:char3" />
          <xsd:element name="Rlpla" type="n0:char10" />
          <xsd:element name="Rppos" type="n0:char2" />
          <xsd:element name="Rsolm" type="n0:quantum13.3" />
          <xsd:element name="Ristm" type="n0:quantum13.3" />
          <xsd:element name="Rdifm" type="n0:quantum13.3" />
          <xsd:element name="Rsola" type="n0:quantum13.3" />
          <xsd:element name="Rista" type="n0:quantum13.3" />
          <xsd:element name="Rdifa" type="n0:quantum13.3" />
          <xsd:element name="Rlqnr" type="n0:numeric10" />
          <xsd:element name="Rappc" type="n0:char1" />
          <xsd:element name="Dltyp" type="n0:char3" />
          <xsd:element name="Dlpla" type="n0:char10" />
          <xsd:element name="Dlqnr" type="n0:numeric10" />
          <xsd:element name="Dmeng" type="n0:quantum13.3" />
          <xsd:element name="Dmena" type="n0:quantum13.3" />
          <xsd:element name="Kzdif" type="n0:char1" />
          <xsd:element name="Maktx" type="n0:char40" />
          <xsd:element name="Druck" type="n0:char1" />
          <xsd:element name="Vlenr" type="n0:char20" />
          <xsd:element name="Nlenr" type="n0:char20" />
          <xsd:element name="Dlenr" type="n0:char20" />
          <xsd:element name="Vlest" type="n0:char1" />
          <xsd:element name="Nlest" type="n0:char1" />
          <xsd:element name="Lelas" type="n0:char1" />
          <xsd:element name="Homve" type="n0:char1" />
          <xsd:element name="Posty" type="n0:char1" />
          <xsd:element name="Orpos" type="n0:numeric4" />
          <xsd:element name="Vsumm" type="n0:char1" />
          <xsd:element name="Vblch" type="n0:char1" />
          <xsd:element name="Nsumm" type="n0:char1" />
          <xsd:element name="Nblch" type="n0:char1" />
          <xsd:element name="Rspos" type="n0:numeric4" />
          <xsd:element name="Vfdat" type="n0:date10" />
          <xsd:element name="Vkapv" type="n0:decimal11.3" />
          <xsd:element name="Vkapa" type="n0:char1" />
          <xsd:element name="Nkapa" type="n0:char1" />
          <xsd:element name="Rkapa" type="n0:char1" />
          <xsd:element name="Kzsub" type="n0:char1" />
          <xsd:element name="Qplos" type="n0:numeric12" />
          <xsd:element name="Qploa" type="n0:numeric12" />
          <xsd:element name="Kzsti" type="n0:char1" />
          <xsd:element name="Rsart" type="n0:char1" />
          <xsd:element name="Kzech" type="n0:char1" />
          <xsd:element name="Kober" type="n0:char3" />
          <xsd:element name="Lgort" type="n0:char4" />
          <xsd:element name="Solpo" type="n0:quantum13.3" />
          <xsd:element name="Zeiei" type="n0:unit3" />
          <xsd:element name="L2skr" type="n0:char1" />
          <xsd:element name="Volum" type="n0:quantum13.3" />
          <xsd:element name="Voleh" type="n0:unit3" />
          <xsd:element name="Kzbef" type="n0:char1" />
          <xsd:element name="Imrel" type="n0:char1" />
          <xsd:element name="Nwirm" type="n0:quantum13.3" />
          <xsd:element name="Wirme" type="n0:unit3" />
          <xsd:element name="Nplei" type="n0:char1" />
          <xsd:element name="Kbnkz" type="n0:char1" />
          <xsd:element name="Stoan" type="n0:char1" />
          <xsd:element name="Kgvnq" type="n0:char1" />
          <xsd:element name="Pvqui" type="n0:char1" />
          <xsd:element name="Edatu" type="n0:date10" />
          <xsd:element name="Ezeit" type="n0:time" />
          <xsd:element name="Ename" type="n0:char12" />
          <xsd:element name="Kzfme" type="n0:char1" />
          <xsd:element name="Qusub" type="n0:char1" />
          <xsd:element name="Fhuta" type="n0:char1" />
          <xsd:element name="Vnest" type="n0:char1" />
          <xsd:element name="Vhilm" type="n0:char18" />
          <xsd:element name="Vdumm" type="n0:char1" />
          <xsd:element name="Ndumm" type="n0:char1" />
          <xsd:element name="Vseri" type="n0:char1" />
          <xsd:element name="Hupik" type="n0:char1" />
          <xsd:element name="Nxidv" type="n0:char20" />
          <xsd:element name="Nolis" type="n0:char1" />
          <xsd:element name="Npipo" type="n0:char1" />
          <xsd:element name="Pipar" type="n0:char1" />
          <xsd:element name="Pckpf" type="n0:char1" />
          <xsd:element name="Kztrm" type="n0:char1" />
          <xsd:element name="Passd" type="n0:char1" />
          <xsd:element name="Vbeln" type="n0:char10" />
          <xsd:element name="Kzxdk" type="n0:char1" />
          <xsd:element name="Kzvas" type="n0:char1" />
          <xsd:element name="FromInspGuid" type="n0:byte16" />
          <xsd:element name="ToInspGuid" type="n0:byte16" />
          <xsd:element name="DiffInspGuid" type="n0:byte16" />
          <xsd:element name="ReturnInspGuid" type="n0:byte16" />
          <xsd:element name="Dcnum" type="n0:numeric14" />
          <xsd:element name="Zrstg" type="n0:char1" />
          <xsd:element name="Tovas" type="n0:char1" />
          <xsd:element name="SgtScat" type="n0:char16" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Makt">
        <xsd:sequence>
          <xsd:element name="Mandt" type="n0:clnt3" />
          <xsd:element name="Matnr" type="n0:char18" />
          <xsd:element name="Spras" type="n0:lang" />
          <xsd:element name="Maktx" type="n0:char40" />
          <xsd:element name="Maktg" type="n0:char40" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Ze1Mt00015">
        <xsd:sequence>
          <xsd:element name="Mandt" type="n0:clnt3" />
          <xsd:element name="Matnr" type="n0:char18" />
          <xsd:element name="Imballo" type="n0:char2" />
          <xsd:element name="PzXSc" type="n0:numeric3" />
          <xsd:element name="ScXPal" type="n0:numeric3" />
          <xsd:element name="M2XPal" type="n0:quantum15.3" />
          <xsd:element name="Ean11Sc" type="n0:char18" />
          <xsd:element name="Ean11Pal" type="n0:char18" />
          <xsd:element name="CodImb" type="n0:char2" />
          <xsd:element name="PallLarg" type="n0:numeric3" />
          <xsd:element name="PallProf" type="n0:numeric3" />
          <xsd:element name="PallAlt" type="n0:numeric3" />
          <xsd:element name="PallAltP" type="n0:numeric3" />
          <xsd:element name="PallPian" type="n0:numeric2" />
          <xsd:element name="PallColPia" type="n0:numeric3" />
          <xsd:element name="Testo" type="n0:char20" />
          <xsd:element name="ImballoAlterna" type="n0:char18" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TtLtap">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Ltap" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZwmMbGetDocmatConfirmQty">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="ICheckAblad" type="n0:char1" />
            <xsd:element minOccurs="0" name="ICheckDocmatEmOt" type="n0:char1" />
            <xsd:element minOccurs="0" name="ICheckFt" type="n0:char1" />
            <xsd:element minOccurs="0" name="ICheckOtDone" type="n0:char1" />
            <xsd:element minOccurs="0" name="IEnableDebug" type="n0:char1" />
            <xsd:element minOccurs="0" name="ILanguage" type="n0:lang" />
            <xsd:element name="IMblnr" type="n0:char10" />
            <xsd:element name="IMjahr" type="n0:numeric4" />
            <xsd:element minOccurs="0" name="IUdmLangConversion" type="n0:char1" />
            <xsd:element minOccurs="0" name="IVlberProvenienza" type="n0:char3" />
            <xsd:element minOccurs="0" name="IVlplaProvenienza" type="n0:char10" />
            <xsd:element minOccurs="0" name="IVltypProvenienza" type="n0:char3" />
            <xsd:element name="IZeile" type="n0:numeric4" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZwmMbGetDocmatConfirmQtyResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="EClassificazioneZ01" type="tns:ZclassificazioneZ01" />
            <xsd:element name="EConfirmQtyInfo" type="tns:ZwmConfirmQtyInfoRec" />
            <xsd:element name="EDataHeader" type="tns:Mkpf" />
            <xsd:element name="EDataMara" type="tns:Mara" />
            <xsd:element name="EDataPosizione" type="tns:Mseg" />
            <xsd:element name="EErrorCode" type="n0:char10" />
            <xsd:element name="EErrorDescription" type="n0:string" />
            <xsd:element name="EErrorSubrc" type="xsd:int" />
            <xsd:element name="EFoundrows" type="xsd:int" />
            <xsd:element name="ESuccess" type="n0:char4" />
            <xsd:element name="ETabLtap" type="tns:TtLtap" />
            <xsd:element name="ETextMakt" type="tns:Makt" />
            <xsd:element name="EVarianteImballo" type="tns:Ze1Mt00015" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZwmMbGetDocmatConfirmQty">
    <wsdl:part name="parameters" element="tns:ZwmMbGetDocmatConfirmQty" />
  </wsdl:message>
  <wsdl:message name="ZwmMbGetDocmatConfirmQtyResponse">
    <wsdl:part name="parameter" element="tns:ZwmMbGetDocmatConfirmQtyResponse" />
  </wsdl:message>
  <wsdl:portType name="ZWS_MB_GET_DOCMAT_CONFIRM_QTY">
    <wsdl:documentation>
      <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
        <sapdoc:docitem docURL="http://CLDDEV01.pancloud.local:50040/sap/bc/esdt/docu/sd_text?sap-client=100&amp;sd_name=ZWS_MB_GET_DOCMAT_CONFIRM_QTY" />
      </sapdoc:sapdoc>
    </wsdl:documentation>
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF__ZWS_MB_GET_DOCMAT_CONFIRM_QTY" />
    </wsp:Policy>
    <wsdl:operation name="ZwmMbGetDocmatConfirmQty">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP__ZwmMbGetDocmatConfirmQty" />
      </wsp:Policy>
      <wsdl:input message="tns:ZwmMbGetDocmatConfirmQty" />
      <wsdl:output message="tns:ZwmMbGetDocmatConfirmQtyResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZWS_MB_GET_DOCMAT_CONFIRM_QTY" type="tns:ZWS_MB_GET_DOCMAT_CONFIRM_QTY">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__ZWS_MB_GET_DOCMAT_CONFIRM_QTY" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZwmMbGetDocmatConfirmQty">
      <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZWS_MB_GET_DOCMAT_CONFIRM_QTY:ZwmMbGetDocmatConfirmQtyRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZWS_MB_GET_DOCMAT_CONFIRM_QTY_soap12" type="tns:ZWS_MB_GET_DOCMAT_CONFIRM_QTY">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__ZWS_MB_GET_DOCMAT_CONFIRM_QTY_soap12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZwmMbGetDocmatConfirmQty">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZWS_MB_GET_DOCMAT_CONFIRM_QTY:ZwmMbGetDocmatConfirmQtyRequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZWS_MB_GET_DOCMAT_CONFIRM_QTY">
    <wsdl:port name="ZWS_MB_GET_DOCMAT_CONFIRM_QTY" binding="tns:ZWS_MB_GET_DOCMAT_CONFIRM_QTY">
      <soap:address location="http://CLDDEV01.pancloud.local:50040/sap/bc/srt/rfc/sap/zws_mb_get_docmat_confirm_qty/100/zws_mb_get_docmat_confirm_qty/zws_mb_get_docmat_confirm_qty" />
    </wsdl:port>
    <wsdl:port name="ZWS_MB_GET_DOCMAT_CONFIRM_QTY_soap12" binding="tns:ZWS_MB_GET_DOCMAT_CONFIRM_QTY_soap12">
      <wsoap12:address location="http://CLDDEV01.pancloud.local:50040/sap/bc/srt/rfc/sap/zws_mb_get_docmat_confirm_qty/100/zws_mb_get_docmat_confirm_qty/zws_mb_get_docmat_confirm_qty" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>