Web References/WS_MB_GOODSMVT_CREATE_MB1B/ZWS_MB_GOODSMVT_CREATE_MB1B_PUSA_DEV_100.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN__ZWS_MB_GOODSMVT_CREATE_MB1B">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN__ZWS_MB_GOODSMVT_CREATE_MB1B_soap12">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF__ZWS_MB_GOODSMVT_CREATE_MB1B">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
          <sapsession:enableSession>false</sapsession:enableSession>
        </sapsession:Session>
        <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
          <sapcentraladmin:BusinessApplicationID>000C29FD93861EE589E23A0884D34E8B</sapcentraladmin:BusinessApplicationID>
        </sapcentraladmin:CentralAdministration>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP__ZwmMbGoodsmvtCreateMb1b">
    <wsp:ExactlyOne>
      <wsp:All>
        <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
        <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
        <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
        <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char12">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="12" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char14">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="14" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char15">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="15" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char16">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="16" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char220">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="220" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char24">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="24" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char25">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="25" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char32">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="32" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char40">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char8">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal23.4">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="23" />
          <xsd:fractionDigits value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal3.0">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="3" />
          <xsd:fractionDigits value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="lang">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric5">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="5" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantum13.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="string">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="unit3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:complexType name="Bapi2017GmCode">
        <xsd:sequence>
          <xsd:element name="GmCode" type="n0:char2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapi2017GmItemCreate">
        <xsd:sequence>
          <xsd:element name="Material" type="n0:char18" />
          <xsd:element name="Plant" type="n0:char4" />
          <xsd:element name="StgeLoc" type="n0:char4" />
          <xsd:element name="Batch" type="n0:char10" />
          <xsd:element name="MoveType" type="n0:char3" />
          <xsd:element name="StckType" type="n0:char1" />
          <xsd:element name="SpecStock" type="n0:char1" />
          <xsd:element name="Vendor" type="n0:char10" />
          <xsd:element name="Customer" type="n0:char10" />
          <xsd:element name="SalesOrd" type="n0:char10" />
          <xsd:element name="SOrdItem" type="n0:numeric6" />
          <xsd:element name="SchedLine" type="n0:numeric4" />
          <xsd:element name="ValType" type="n0:char10" />
          <xsd:element name="EntryQnt" type="n0:quantum13.3" />
          <xsd:element name="EntryUom" type="n0:unit3" />
          <xsd:element name="EntryUomIso" type="n0:char3" />
          <xsd:element name="PoPrQnt" type="n0:quantum13.3" />
          <xsd:element name="OrderprUn" type="n0:unit3" />
          <xsd:element name="OrderprUnIso" type="n0:char3" />
          <xsd:element name="PoNumber" type="n0:char10" />
          <xsd:element name="PoItem" type="n0:numeric5" />
          <xsd:element name="Shipping" type="n0:char2" />
          <xsd:element name="CompShip" type="n0:char2" />
          <xsd:element name="NoMoreGr" type="n0:char1" />
          <xsd:element name="ItemText" type="n0:char50" />
          <xsd:element name="GrRcpt" type="n0:char12" />
          <xsd:element name="UnloadPt" type="n0:char25" />
          <xsd:element name="Costcenter" type="n0:char10" />
          <xsd:element name="Orderid" type="n0:char12" />
          <xsd:element name="OrderItno" type="n0:numeric4" />
          <xsd:element name="CalcMotive" type="n0:char2" />
          <xsd:element name="AssetNo" type="n0:char12" />
          <xsd:element name="SubNumber" type="n0:char4" />
          <xsd:element name="ReservNo" type="n0:numeric10" />
          <xsd:element name="ResItem" type="n0:numeric4" />
          <xsd:element name="ResType" type="n0:char1" />
          <xsd:element name="Withdrawn" type="n0:char1" />
          <xsd:element name="MoveMat" type="n0:char18" />
          <xsd:element name="MovePlant" type="n0:char4" />
          <xsd:element name="MoveStloc" type="n0:char4" />
          <xsd:element name="MoveBatch" type="n0:char10" />
          <xsd:element name="MoveValType" type="n0:char10" />
          <xsd:element name="MvtInd" type="n0:char1" />
          <xsd:element name="MoveReas" type="n0:numeric4" />
          <xsd:element name="RlEstKey" type="n0:char8" />
          <xsd:element name="RefDate" type="n0:date10" />
          <xsd:element name="CostObj" type="n0:char12" />
          <xsd:element name="ProfitSegmNo" type="n0:numeric10" />
          <xsd:element name="ProfitCtr" type="n0:char10" />
          <xsd:element name="WbsElem" type="n0:char24" />
          <xsd:element name="Network" type="n0:char12" />
          <xsd:element name="Activity" type="n0:char4" />
          <xsd:element name="PartAcct" type="n0:char10" />
          <xsd:element name="AmountLc" type="n0:decimal23.4" />
          <xsd:element name="AmountSv" type="n0:decimal23.4" />
          <xsd:element name="RefDocYr" type="n0:numeric4" />
          <xsd:element name="RefDoc" type="n0:char10" />
          <xsd:element name="RefDocIt" type="n0:numeric4" />
          <xsd:element name="Expirydate" type="n0:date10" />
          <xsd:element name="ProdDate" type="n0:date10" />
          <xsd:element name="Fund" type="n0:char10" />
          <xsd:element name="FundsCtr" type="n0:char16" />
          <xsd:element name="CmmtItem" type="n0:char14" />
          <xsd:element name="ValSalesOrd" type="n0:char10" />
          <xsd:element name="ValSOrdItem" type="n0:numeric6" />
          <xsd:element name="ValWbsElem" type="n0:char24" />
          <xsd:element name="GlAccount" type="n0:char10" />
          <xsd:element name="IndProposeQuanx" type="n0:char1" />
          <xsd:element name="Xstob" type="n0:char1" />
          <xsd:element name="EanUpc" type="n0:char18" />
          <xsd:element name="DelivNumbToSearch" type="n0:char10" />
          <xsd:element name="DelivItemToSearch" type="n0:numeric6" />
          <xsd:element name="SerialnoAutoNumberassignment" type="n0:char1" />
          <xsd:element name="Vendrbatch" type="n0:char15" />
          <xsd:element name="StgeType" type="n0:char3" />
          <xsd:element name="StgeBin" type="n0:char10" />
          <xsd:element name="SuPlStck1" type="n0:decimal3.0" />
          <xsd:element name="StUnQtyy1" type="n0:quantum13.3" />
          <xsd:element name="StUnQtyy1Iso" type="n0:char3" />
          <xsd:element name="Unittype1" type="n0:char3" />
          <xsd:element name="SuPlStck2" type="n0:decimal3.0" />
          <xsd:element name="StUnQtyy2" type="n0:quantum13.3" />
          <xsd:element name="StUnQtyy2Iso" type="n0:char3" />
          <xsd:element name="Unittype2" type="n0:char3" />
          <xsd:element name="StgeTypePc" type="n0:char3" />
          <xsd:element name="StgeBinPc" type="n0:char10" />
          <xsd:element name="NoPstChgnt" type="n0:char1" />
          <xsd:element name="GrNumber" type="n0:char10" />
          <xsd:element name="StgeTypeSt" type="n0:char3" />
          <xsd:element name="StgeBinSt" type="n0:char10" />
          <xsd:element name="MatdocTrCancel" type="n0:char10" />
          <xsd:element name="MatitemTrCancel" type="n0:numeric4" />
          <xsd:element name="MatyearTrCancel" type="n0:numeric4" />
          <xsd:element name="NoTransferReq" type="n0:char1" />
          <xsd:element name="CoBusproc" type="n0:char12" />
          <xsd:element name="Acttype" type="n0:char6" />
          <xsd:element name="SupplVend" type="n0:char10" />
          <xsd:element name="MaterialExternal" type="n0:char40" />
          <xsd:element name="MaterialGuid" type="n0:char32" />
          <xsd:element name="MaterialVersion" type="n0:char10" />
          <xsd:element name="MoveMatExternal" type="n0:char40" />
          <xsd:element name="MoveMatGuid" type="n0:char32" />
          <xsd:element name="MoveMatVersion" type="n0:char10" />
          <xsd:element name="FuncArea" type="n0:char4" />
          <xsd:element name="TrPartBa" type="n0:char4" />
          <xsd:element name="ParCompco" type="n0:char4" />
          <xsd:element name="DelivNumb" type="n0:char10" />
          <xsd:element name="DelivItem" type="n0:numeric6" />
          <xsd:element name="NbSlips" type="n0:numeric3" />
          <xsd:element name="NbSlipsx" type="n0:char1" />
          <xsd:element name="GrRcptx" type="n0:char1" />
          <xsd:element name="UnloadPtx" type="n0:char1" />
          <xsd:element name="SpecMvmt" type="n0:char1" />
          <xsd:element name="GrantNbr" type="n0:char20" />
          <xsd:element name="CmmtItemLong" type="n0:char24" />
          <xsd:element name="FuncAreaLong" type="n0:char16" />
          <xsd:element name="LineId" type="n0:numeric6" />
          <xsd:element name="ParentId" type="n0:numeric6" />
          <xsd:element name="LineDepth" type="n0:numeric2" />
          <xsd:element name="Quantity" type="n0:quantum13.3" />
          <xsd:element name="BaseUom" type="n0:unit3" />
          <xsd:element name="Longnum" type="n0:char40" />
          <xsd:element name="BudgetPeriod" type="n0:char10" />
          <xsd:element name="EarmarkedNumber" type="n0:char10" />
          <xsd:element name="EarmarkedItem" type="n0:numeric3" />
          <xsd:element name="StkSegment" type="n0:char16" />
          <xsd:element name="MoveSegment" type="n0:char16" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapiret2">
        <xsd:sequence>
          <xsd:element name="Type" type="n0:char1" />
          <xsd:element name="Id" type="n0:char20" />
          <xsd:element name="Number" type="n0:numeric3" />
          <xsd:element name="Message" type="n0:char220" />
          <xsd:element name="LogNo" type="n0:char20" />
          <xsd:element name="LogMsgNo" type="n0:numeric6" />
          <xsd:element name="MessageV1" type="n0:char50" />
          <xsd:element name="MessageV2" type="n0:char50" />
          <xsd:element name="MessageV3" type="n0:char50" />
          <xsd:element name="MessageV4" type="n0:char50" />
          <xsd:element name="Parameter" type="n0:char32" />
          <xsd:element name="Row" type="xsd:int" />
          <xsd:element name="Field" type="n0:char30" />
          <xsd:element name="System" type="n0:char10" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfBapiret2">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Bapiret2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZwmMbGoodsmvtCreateMb1b">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="EBapiretTab" type="tns:TableOfBapiret2" />
            <xsd:element minOccurs="0" name="IBillOfLading" type="n0:char16" />
            <xsd:element minOccurs="0" name="IElaborationType" type="n0:string" />
            <xsd:element minOccurs="0" name="IEnableDebug" type="n0:char1" />
            <xsd:element name="IGoodsmvtCode" type="tns:Bapi2017GmCode" />
            <xsd:element name="IGoodsmvtItem" type="tns:Bapi2017GmItemCreate" />
            <xsd:element minOccurs="0" name="IGrGiSlipNo" type="n0:char10" />
            <xsd:element minOccurs="0" name="IHeaderText" type="n0:char25" />
            <xsd:element minOccurs="0" name="ILanguage" type="n0:lang" />
            <xsd:element minOccurs="0" name="ILgnum" type="n0:char3" />
            <xsd:element minOccurs="0" name="ILgpla" type="n0:char10" />
            <xsd:element minOccurs="0" name="ILgtyp" type="n0:char3" />
            <xsd:element minOccurs="0" name="ILqnum" type="n0:numeric10" />
            <xsd:element minOccurs="0" name="IRefDocNo" type="n0:char16" />
            <xsd:element minOccurs="0" name="ISobkz" type="n0:char1" />
            <xsd:element minOccurs="0" name="ISonum" type="n0:char16" />
            <xsd:element minOccurs="0" name="IUserId" type="n0:char12" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZwmMbGoodsmvtCreateMb1bResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="EBapiretTab" type="tns:TableOfBapiret2" />
            <xsd:element name="EErrorCode" type="n0:char10" />
            <xsd:element name="EErrorDescription" type="n0:string" />
            <xsd:element name="EErrorSubrc" type="xsd:int" />
            <xsd:element name="EMatdocumentyear" type="n0:numeric4" />
            <xsd:element name="EMaterialdocument" type="n0:char10" />
            <xsd:element name="EReturn" type="tns:Bapiret2" />
            <xsd:element name="ESuccess" type="n0:char4" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZwmMbGoodsmvtCreateMb1b">
    <wsdl:part name="parameters" element="tns:ZwmMbGoodsmvtCreateMb1b" />
  </wsdl:message>
  <wsdl:message name="ZwmMbGoodsmvtCreateMb1bResponse">
    <wsdl:part name="parameter" element="tns:ZwmMbGoodsmvtCreateMb1bResponse" />
  </wsdl:message>
  <wsdl:portType name="ZWS_MB_GOODSMVT_CREATE_MB1B">
    <wsdl:documentation>
      <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
        <sapdoc:docitem docURL="http://CLDDEV01.pancloud.local:50040/sap/bc/esdt/docu/sd_text?sap-client=100&amp;sd_name=ZWS_MB_GOODSMVT_CREATE_MB1B" />
      </sapdoc:sapdoc>
    </wsdl:documentation>
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF__ZWS_MB_GOODSMVT_CREATE_MB1B" />
    </wsp:Policy>
    <wsdl:operation name="ZwmMbGoodsmvtCreateMb1b">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP__ZwmMbGoodsmvtCreateMb1b" />
      </wsp:Policy>
      <wsdl:input message="tns:ZwmMbGoodsmvtCreateMb1b" />
      <wsdl:output message="tns:ZwmMbGoodsmvtCreateMb1bResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZWS_MB_GOODSMVT_CREATE_MB1B" type="tns:ZWS_MB_GOODSMVT_CREATE_MB1B">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__ZWS_MB_GOODSMVT_CREATE_MB1B" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZwmMbGoodsmvtCreateMb1b">
      <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZWS_MB_GOODSMVT_CREATE_MB1B:ZwmMbGoodsmvtCreateMb1bRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZWS_MB_GOODSMVT_CREATE_MB1B_soap12" type="tns:ZWS_MB_GOODSMVT_CREATE_MB1B">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__ZWS_MB_GOODSMVT_CREATE_MB1B_soap12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZwmMbGoodsmvtCreateMb1b">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZWS_MB_GOODSMVT_CREATE_MB1B:ZwmMbGoodsmvtCreateMb1bRequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZWS_MB_GOODSMVT_CREATE_MB1B">
    <wsdl:port name="ZWS_MB_GOODSMVT_CREATE_MB1B" binding="tns:ZWS_MB_GOODSMVT_CREATE_MB1B">
      <soap:address location="http://CLDDEV01.pancloud.local:50040/sap/bc/srt/rfc/sap/zws_mb_goodsmvt_create_mb1b/100/zws_mb_goodsmvt_create_mb1b/zws_mb_goodsmvt_create_mb1b" />
    </wsdl:port>
    <wsdl:port name="ZWS_MB_GOODSMVT_CREATE_MB1B_soap12" binding="tns:ZWS_MB_GOODSMVT_CREATE_MB1B_soap12">
      <wsoap12:address location="http://CLDDEV01.pancloud.local:50040/sap/bc/srt/rfc/sap/zws_mb_goodsmvt_create_mb1b/100/zws_mb_goodsmvt_create_mb1b/zws_mb_goodsmvt_create_mb1b" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>