Web References/WS_MB_GET_MATERIAL_LIST/ZWS_MB_GET_MATERIAL_LIST_PUSA_DEV_100.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN__ZWS_MB_GET_MATERIAL_LIST">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN__ZWS_MB_GET_MATERIAL_LIST_soap12">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF__ZWS_MB_GET_MATERIAL_LIST">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
          <sapsession:enableSession>false</sapsession:enableSession>
        </sapsession:Session>
        <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
          <sapcentraladmin:BusinessApplicationID>000C29FD93861EE589E23A0884D34E8B</sapcentraladmin:BusinessApplicationID>
        </sapcentraladmin:CentralAdministration>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP__ZwmMbGetMaterialList">
    <wsp:ExactlyOne>
      <wsp:All>
        <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
        <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
        <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
        <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char12">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="12" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char13">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="13" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char15">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="15" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char16">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="16" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char17">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="17" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char22">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="22" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char220">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="220" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char32">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="32" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char40">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char48">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="48" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char5">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="5" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char8">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char9">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="9" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="clnt3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="curr11.2">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="11" />
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="curr13.2">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal15.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="15" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal2.1">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="2" />
          <xsd:fractionDigits value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal3.0">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="3" />
          <xsd:fractionDigits value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal3.1">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="3" />
          <xsd:fractionDigits value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal4.0">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="4" />
          <xsd:fractionDigits value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal4.2">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="4" />
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal5.0">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="5" />
          <xsd:fractionDigits value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal5.2">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="5" />
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal9.0">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="9" />
          <xsd:fractionDigits value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="lang">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric8">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric9">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="9" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantum13.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantum15.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="15" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantum3.0">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="3" />
          <xsd:fractionDigits value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="string">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="unit3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:complexType name="ZmbMaterialList">
        <xsd:sequence>
          <xsd:element name="Tmara" type="tns:Mara" />
          <xsd:element name="Tmarc" type="tns:Marc" />
          <xsd:element name="Tmakt" type="tns:Makt" />
          <xsd:element name="Tvm5t" type="tns:Tvm5t" />
          <xsd:element name="T024x" type="tns:T024x" />
          <xsd:element name="Xchpf" type="n0:char1" />
          <xsd:element name="MeanConsegna" type="tns:Mean" />
          <xsd:element name="VarianteImballo" type="tns:Ze1Mt00015" />
          <xsd:element name="ClassificazioneZ01" type="tns:ZclassificazioneZ01" />
          <xsd:element name="Class001DatiProd" type="tns:Zclassificazione001DatiProd" />
          <xsd:element name="Gewei" type="n0:unit3" />
          <xsd:element name="PesoUdmConsegna" type="n0:quantum13.3" />
          <xsd:element name="PesoUdmPallet" type="n0:quantum13.3" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Mara">
        <xsd:sequence>
          <xsd:element name="Mandt" type="n0:clnt3" />
          <xsd:element name="Matnr" type="n0:char18" />
          <xsd:element name="Ersda" type="n0:date10" />
          <xsd:element name="Ernam" type="n0:char12" />
          <xsd:element name="Laeda" type="n0:date10" />
          <xsd:element name="Aenam" type="n0:char12" />
          <xsd:element name="Vpsta" type="n0:char15" />
          <xsd:element name="Pstat" type="n0:char15" />
          <xsd:element name="Lvorm" type="n0:char1" />
          <xsd:element name="Mtart" type="n0:char4" />
          <xsd:element name="Mbrsh" type="n0:char1" />
          <xsd:element name="Matkl" type="n0:char9" />
          <xsd:element name="Bismt" type="n0:char18" />
          <xsd:element name="Meins" type="n0:unit3" />
          <xsd:element name="Bstme" type="n0:unit3" />
          <xsd:element name="Zeinr" type="n0:char22" />
          <xsd:element name="Zeiar" type="n0:char3" />
          <xsd:element name="Zeivr" type="n0:char2" />
          <xsd:element name="Zeifo" type="n0:char4" />
          <xsd:element name="Aeszn" type="n0:char6" />
          <xsd:element name="Blatt" type="n0:char3" />
          <xsd:element name="Blanz" type="n0:numeric3" />
          <xsd:element name="Ferth" type="n0:char18" />
          <xsd:element name="Formt" type="n0:char4" />
          <xsd:element name="Groes" type="n0:char32" />
          <xsd:element name="Wrkst" type="n0:char48" />
          <xsd:element name="Normt" type="n0:char18" />
          <xsd:element name="Labor" type="n0:char3" />
          <xsd:element name="Ekwsl" type="n0:char4" />
          <xsd:element name="Brgew" type="n0:quantum13.3" />
          <xsd:element name="Ntgew" type="n0:quantum13.3" />
          <xsd:element name="Gewei" type="n0:unit3" />
          <xsd:element name="Volum" type="n0:quantum13.3" />
          <xsd:element name="Voleh" type="n0:unit3" />
          <xsd:element name="Behvo" type="n0:char2" />
          <xsd:element name="Raube" type="n0:char2" />
          <xsd:element name="Tempb" type="n0:char2" />
          <xsd:element name="Disst" type="n0:char3" />
          <xsd:element name="Tragr" type="n0:char4" />
          <xsd:element name="Stoff" type="n0:char18" />
          <xsd:element name="Spart" type="n0:char2" />
          <xsd:element name="Kunnr" type="n0:char10" />
          <xsd:element name="Eannr" type="n0:char13" />
          <xsd:element name="Wesch" type="n0:quantum13.3" />
          <xsd:element name="Bwvor" type="n0:char1" />
          <xsd:element name="Bwscl" type="n0:char1" />
          <xsd:element name="Saiso" type="n0:char4" />
          <xsd:element name="Etiar" type="n0:char2" />
          <xsd:element name="Etifo" type="n0:char2" />
          <xsd:element name="Entar" type="n0:char1" />
          <xsd:element name="Ean11" type="n0:char18" />
          <xsd:element name="Numtp" type="n0:char2" />
          <xsd:element name="Laeng" type="n0:quantum13.3" />
          <xsd:element name="Breit" type="n0:quantum13.3" />
          <xsd:element name="Hoehe" type="n0:quantum13.3" />
          <xsd:element name="Meabm" type="n0:unit3" />
          <xsd:element name="Prdha" type="n0:char18" />
          <xsd:element name="Aeklk" type="n0:char1" />
          <xsd:element name="Cadkz" type="n0:char1" />
          <xsd:element name="Qmpur" type="n0:char1" />
          <xsd:element name="Ergew" type="n0:quantum13.3" />
          <xsd:element name="Ergei" type="n0:unit3" />
          <xsd:element name="Ervol" type="n0:quantum13.3" />
          <xsd:element name="Ervoe" type="n0:unit3" />
          <xsd:element name="Gewto" type="n0:decimal3.1" />
          <xsd:element name="Volto" type="n0:decimal3.1" />
          <xsd:element name="Vabme" type="n0:char1" />
          <xsd:element name="Kzrev" type="n0:char1" />
          <xsd:element name="Kzkfg" type="n0:char1" />
          <xsd:element name="Xchpf" type="n0:char1" />
          <xsd:element name="Vhart" type="n0:char4" />
          <xsd:element name="Fuelg" type="n0:decimal3.0" />
          <xsd:element name="Stfak" type="xsd:short" />
          <xsd:element name="Magrv" type="n0:char4" />
          <xsd:element name="Begru" type="n0:char4" />
          <xsd:element name="Datab" type="n0:date10" />
          <xsd:element name="Liqdt" type="n0:date10" />
          <xsd:element name="Saisj" type="n0:char4" />
          <xsd:element name="Plgtp" type="n0:char2" />
          <xsd:element name="Mlgut" type="n0:char1" />
          <xsd:element name="Extwg" type="n0:char18" />
          <xsd:element name="Satnr" type="n0:char18" />
          <xsd:element name="Attyp" type="n0:char2" />
          <xsd:element name="Kzkup" type="n0:char1" />
          <xsd:element name="Kznfm" type="n0:char1" />
          <xsd:element name="Pmata" type="n0:char18" />
          <xsd:element name="Mstae" type="n0:char2" />
          <xsd:element name="Mstav" type="n0:char2" />
          <xsd:element name="Mstde" type="n0:date10" />
          <xsd:element name="Mstdv" type="n0:date10" />
          <xsd:element name="Taklv" type="n0:char1" />
          <xsd:element name="Rbnrm" type="n0:char9" />
          <xsd:element name="Mhdrz" type="n0:decimal4.0" />
          <xsd:element name="Mhdhb" type="n0:decimal4.0" />
          <xsd:element name="Mhdlp" type="n0:decimal3.0" />
          <xsd:element name="Inhme" type="n0:unit3" />
          <xsd:element name="Inhal" type="n0:quantum13.3" />
          <xsd:element name="Vpreh" type="n0:decimal5.0" />
          <xsd:element name="Etiag" type="n0:char18" />
          <xsd:element name="Inhbr" type="n0:quantum13.3" />
          <xsd:element name="Cmeth" type="n0:char1" />
          <xsd:element name="Cuobf" type="n0:numeric18" />
          <xsd:element name="Kzumw" type="n0:char1" />
          <xsd:element name="Kosch" type="n0:char18" />
          <xsd:element name="Sprof" type="n0:char1" />
          <xsd:element name="Nrfhg" type="n0:char1" />
          <xsd:element name="Mfrpn" type="n0:char40" />
          <xsd:element name="Mfrnr" type="n0:char10" />
          <xsd:element name="Bmatn" type="n0:char18" />
          <xsd:element name="Mprof" type="n0:char4" />
          <xsd:element name="Kzwsm" type="n0:char1" />
          <xsd:element name="Saity" type="n0:char2" />
          <xsd:element name="Profl" type="n0:char3" />
          <xsd:element name="Ihivi" type="n0:char1" />
          <xsd:element name="Iloos" type="n0:char1" />
          <xsd:element name="Serlv" type="n0:char1" />
          <xsd:element name="Kzgvh" type="n0:char1" />
          <xsd:element name="Xgchp" type="n0:char1" />
          <xsd:element name="Kzeff" type="n0:char1" />
          <xsd:element name="Compl" type="n0:numeric2" />
          <xsd:element name="Iprkz" type="n0:char1" />
          <xsd:element name="Rdmhd" type="n0:char1" />
          <xsd:element name="Przus" type="n0:char1" />
          <xsd:element name="MtposMara" type="n0:char4" />
          <xsd:element name="Bflme" type="n0:char1" />
          <xsd:element name="Matfi" type="n0:char1" />
          <xsd:element name="Cmrel" type="n0:char1" />
          <xsd:element name="Bbtyp" type="n0:char1" />
          <xsd:element name="SledBbd" type="n0:char1" />
          <xsd:element name="GtinVariant" type="n0:char2" />
          <xsd:element name="Gennr" type="n0:char18" />
          <xsd:element name="Rmatp" type="n0:char18" />
          <xsd:element name="GdsRelevant" type="n0:char1" />
          <xsd:element name="Weora" type="n0:char1" />
          <xsd:element name="HutypDflt" type="n0:char4" />
          <xsd:element name="Pilferable" type="n0:char1" />
          <xsd:element name="Whstc" type="n0:char2" />
          <xsd:element name="Whmatgr" type="n0:char4" />
          <xsd:element name="Hndlcode" type="n0:char4" />
          <xsd:element name="Hazmat" type="n0:char1" />
          <xsd:element name="Hutyp" type="n0:char4" />
          <xsd:element name="TareVar" type="n0:char1" />
          <xsd:element name="Maxc" type="n0:decimal15.3" />
          <xsd:element name="MaxcTol" type="n0:decimal3.1" />
          <xsd:element name="Maxl" type="n0:quantum15.3" />
          <xsd:element name="Maxb" type="n0:quantum15.3" />
          <xsd:element name="Maxh" type="n0:quantum15.3" />
          <xsd:element name="MaxdimUom" type="n0:unit3" />
          <xsd:element name="Herkl" type="n0:char3" />
          <xsd:element name="Mfrgr" type="n0:char8" />
          <xsd:element name="Qqtime" type="n0:quantum3.0" />
          <xsd:element name="Qqtimeuom" type="n0:unit3" />
          <xsd:element name="Qgrp" type="n0:char4" />
          <xsd:element name="Serial" type="n0:char4" />
          <xsd:element name="PsSmartform" type="n0:char30" />
          <xsd:element name="Logunit" type="n0:unit3" />
          <xsd:element name="Cwqrel" type="n0:char1" />
          <xsd:element name="Cwqproc" type="n0:char2" />
          <xsd:element name="Cwqtolgr" type="n0:char9" />
          <xsd:element name="Adprof" type="n0:char3" />
          <xsd:element name="Ipmipproduct" type="n0:char40" />
          <xsd:element name="AllowPmatIgno" type="n0:char1" />
          <xsd:element name="Medium" type="n0:char6" />
          <xsd:element name="Commodity" type="n0:char18" />
          <xsd:element name="AnimalOrigin" type="n0:char1" />
          <xsd:element name="TextileCompInd" type="n0:char1" />
          <xsd:element name="SgtCsgr" type="n0:char4" />
          <xsd:element name="SgtCovsa" type="n0:char8" />
          <xsd:element name="SgtStat" type="n0:char1" />
          <xsd:element name="SgtScope" type="n0:char1" />
          <xsd:element name="SgtRel" type="n0:char1" />
          <xsd:element name="Anp" type="n0:numeric9" />
          <xsd:element name="FshMgAt1" type="n0:char10" />
          <xsd:element name="FshMgAt2" type="n0:char10" />
          <xsd:element name="FshMgAt3" type="n0:char6" />
          <xsd:element name="FshSealv" type="n0:char1" />
          <xsd:element name="FshSeaim" type="n0:char1" />
          <xsd:element name="FshScMid" type="n0:char2" />
          <xsd:element name="PsmCode" type="n0:char2" />
          <xsd:element name="_-bev1_-luleinh" type="n0:numeric8" />
          <xsd:element name="_-bev1_-luldegrp" type="n0:char3" />
          <xsd:element name="_-bev1_-nestruccat" type="n0:char1" />
          <xsd:element name="_-dsd_-slToltyp" type="n0:char4" />
          <xsd:element name="_-dsd_-svCntGrp" type="n0:char10" />
          <xsd:element name="_-dsd_-vcGroup" type="n0:char6" />
          <xsd:element name="_-vso_-rTiltInd" type="n0:char1" />
          <xsd:element name="_-vso_-rStackInd" type="n0:char1" />
          <xsd:element name="_-vso_-rBotInd" type="n0:char1" />
          <xsd:element name="_-vso_-rTopInd" type="n0:char1" />
          <xsd:element name="_-vso_-rStackNo" type="n0:numeric3" />
          <xsd:element name="_-vso_-rPalInd" type="n0:char1" />
          <xsd:element name="_-vso_-rPalOvrD" type="n0:quantum13.3" />
          <xsd:element name="_-vso_-rPalOvrW" type="n0:quantum13.3" />
          <xsd:element name="_-vso_-rPalBHt" type="n0:quantum13.3" />
          <xsd:element name="_-vso_-rPalMinH" type="n0:quantum13.3" />
          <xsd:element name="_-vso_-rTolBHt" type="n0:quantum13.3" />
          <xsd:element name="_-vso_-rNoPGvh" type="n0:numeric2" />
          <xsd:element name="_-vso_-rQuanUnit" type="n0:unit3" />
          <xsd:element name="_-vso_-rKzgvhInd" type="n0:char1" />
          <xsd:element name="Packcode" type="n0:char10" />
          <xsd:element name="DgPackStatus" type="n0:char10" />
          <xsd:element name="Mcond" type="n0:char1" />
          <xsd:element name="Retdelc" type="n0:char1" />
          <xsd:element name="LoglevReto" type="n0:char1" />
          <xsd:element name="Nsnid" type="n0:char9" />
          <xsd:element name="Imatn" type="n0:char18" />
          <xsd:element name="Picnum" type="n0:char18" />
          <xsd:element name="Bstat" type="n0:char2" />
          <xsd:element name="ColorAtinn" type="n0:numeric10" />
          <xsd:element name="Size1Atinn" type="n0:numeric10" />
          <xsd:element name="Size2Atinn" type="n0:numeric10" />
          <xsd:element name="Color" type="n0:char18" />
          <xsd:element name="Size1" type="n0:char18" />
          <xsd:element name="Size2" type="n0:char18" />
          <xsd:element name="FreeChar" type="n0:char18" />
          <xsd:element name="CareCode" type="n0:char16" />
          <xsd:element name="BrandId" type="n0:char4" />
          <xsd:element name="FiberCode1" type="n0:char3" />
          <xsd:element name="FiberPart1" type="n0:numeric3" />
          <xsd:element name="FiberCode2" type="n0:char3" />
          <xsd:element name="FiberPart2" type="n0:numeric3" />
          <xsd:element name="FiberCode3" type="n0:char3" />
          <xsd:element name="FiberPart3" type="n0:numeric3" />
          <xsd:element name="FiberCode4" type="n0:char3" />
          <xsd:element name="FiberPart4" type="n0:numeric3" />
          <xsd:element name="FiberCode5" type="n0:char3" />
          <xsd:element name="FiberPart5" type="n0:numeric3" />
          <xsd:element name="Fashgrd" type="n0:char4" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Marc">
        <xsd:sequence>
          <xsd:element name="Mandt" type="n0:clnt3" />
          <xsd:element name="Matnr" type="n0:char18" />
          <xsd:element name="Werks" type="n0:char4" />
          <xsd:element name="Pstat" type="n0:char15" />
          <xsd:element name="Lvorm" type="n0:char1" />
          <xsd:element name="Bwtty" type="n0:char1" />
          <xsd:element name="Xchar" type="n0:char1" />
          <xsd:element name="Mmsta" type="n0:char2" />
          <xsd:element name="Mmstd" type="n0:date10" />
          <xsd:element name="Maabc" type="n0:char1" />
          <xsd:element name="Kzkri" type="n0:char1" />
          <xsd:element name="Ekgrp" type="n0:char3" />
          <xsd:element name="Ausme" type="n0:unit3" />
          <xsd:element name="Dispr" type="n0:char4" />
          <xsd:element name="Dismm" type="n0:char2" />
          <xsd:element name="Dispo" type="n0:char3" />
          <xsd:element name="Kzdie" type="n0:char1" />
          <xsd:element name="Plifz" type="n0:decimal3.0" />
          <xsd:element name="Webaz" type="n0:decimal3.0" />
          <xsd:element name="Perkz" type="n0:char1" />
          <xsd:element name="Ausss" type="n0:decimal5.2" />
          <xsd:element name="Disls" type="n0:char2" />
          <xsd:element name="Beskz" type="n0:char1" />
          <xsd:element name="Sobsl" type="n0:char2" />
          <xsd:element name="Minbe" type="n0:quantum13.3" />
          <xsd:element name="Eisbe" type="n0:quantum13.3" />
          <xsd:element name="Bstmi" type="n0:quantum13.3" />
          <xsd:element name="Bstma" type="n0:quantum13.3" />
          <xsd:element name="Bstfe" type="n0:quantum13.3" />
          <xsd:element name="Bstrf" type="n0:quantum13.3" />
          <xsd:element name="Mabst" type="n0:quantum13.3" />
          <xsd:element name="Losfx" type="n0:curr11.2" />
          <xsd:element name="Sbdkz" type="n0:char1" />
          <xsd:element name="Lagpr" type="n0:char1" />
          <xsd:element name="Altsl" type="n0:char1" />
          <xsd:element name="Kzaus" type="n0:char1" />
          <xsd:element name="Ausdt" type="n0:date10" />
          <xsd:element name="Nfmat" type="n0:char18" />
          <xsd:element name="Kzbed" type="n0:char1" />
          <xsd:element name="Miskz" type="n0:char1" />
          <xsd:element name="Fhori" type="n0:char3" />
          <xsd:element name="Pfrei" type="n0:char1" />
          <xsd:element name="Ffrei" type="n0:char1" />
          <xsd:element name="Rgekz" type="n0:char1" />
          <xsd:element name="Fevor" type="n0:char3" />
          <xsd:element name="Bearz" type="n0:decimal5.2" />
          <xsd:element name="Ruezt" type="n0:decimal5.2" />
          <xsd:element name="Tranz" type="n0:decimal5.2" />
          <xsd:element name="Basmg" type="n0:quantum13.3" />
          <xsd:element name="Dzeit" type="n0:decimal3.0" />
          <xsd:element name="Maxlz" type="n0:decimal5.0" />
          <xsd:element name="Lzeih" type="n0:unit3" />
          <xsd:element name="Kzpro" type="n0:char1" />
          <xsd:element name="Gpmkz" type="n0:char1" />
          <xsd:element name="Ueeto" type="n0:decimal3.1" />
          <xsd:element name="Ueetk" type="n0:char1" />
          <xsd:element name="Uneto" type="n0:decimal3.1" />
          <xsd:element name="Wzeit" type="n0:decimal3.0" />
          <xsd:element name="Atpkz" type="n0:char1" />
          <xsd:element name="Vzusl" type="n0:decimal5.2" />
          <xsd:element name="Herbl" type="n0:char2" />
          <xsd:element name="Insmk" type="n0:char1" />
          <xsd:element name="Sproz" type="n0:decimal3.1" />
          <xsd:element name="Quazt" type="n0:decimal3.0" />
          <xsd:element name="Ssqss" type="n0:char8" />
          <xsd:element name="Mpdau" type="n0:decimal5.0" />
          <xsd:element name="Kzppv" type="n0:char1" />
          <xsd:element name="Kzdkz" type="n0:char1" />
          <xsd:element name="Wstgh" type="n0:decimal9.0" />
          <xsd:element name="Prfrq" type="n0:decimal5.0" />
          <xsd:element name="Nkmpr" type="n0:date10" />
          <xsd:element name="Umlmc" type="n0:quantum13.3" />
          <xsd:element name="Ladgr" type="n0:char4" />
          <xsd:element name="Xchpf" type="n0:char1" />
          <xsd:element name="Usequ" type="n0:char1" />
          <xsd:element name="Lgrad" type="n0:decimal3.1" />
          <xsd:element name="Auftl" type="n0:char1" />
          <xsd:element name="Plvar" type="n0:char2" />
          <xsd:element name="Otype" type="n0:char2" />
          <xsd:element name="Objid" type="n0:numeric8" />
          <xsd:element name="Mtvfp" type="n0:char2" />
          <xsd:element name="Periv" type="n0:char2" />
          <xsd:element name="Kzkfk" type="n0:char1" />
          <xsd:element name="Vrvez" type="n0:decimal5.2" />
          <xsd:element name="Vbamg" type="n0:quantum13.3" />
          <xsd:element name="Vbeaz" type="n0:decimal5.2" />
          <xsd:element name="Lizyk" type="n0:char4" />
          <xsd:element name="Bwscl" type="n0:char1" />
          <xsd:element name="Kautb" type="n0:char1" />
          <xsd:element name="Kordb" type="n0:char1" />
          <xsd:element name="Stawn" type="n0:char17" />
          <xsd:element name="Herkl" type="n0:char3" />
          <xsd:element name="Herkr" type="n0:char3" />
          <xsd:element name="Expme" type="n0:unit3" />
          <xsd:element name="Mtver" type="n0:char4" />
          <xsd:element name="Prctr" type="n0:char10" />
          <xsd:element name="Trame" type="n0:quantum13.3" />
          <xsd:element name="Mrppp" type="n0:char3" />
          <xsd:element name="Sauft" type="n0:char1" />
          <xsd:element name="Fxhor" type="n0:numeric3" />
          <xsd:element name="Vrmod" type="n0:char1" />
          <xsd:element name="Vint1" type="n0:numeric3" />
          <xsd:element name="Vint2" type="n0:numeric3" />
          <xsd:element name="Verkz" type="n0:char1" />
          <xsd:element name="Stlal" type="n0:char2" />
          <xsd:element name="Stlan" type="n0:char1" />
          <xsd:element name="Plnnr" type="n0:char8" />
          <xsd:element name="Aplal" type="n0:char2" />
          <xsd:element name="Losgr" type="n0:quantum13.3" />
          <xsd:element name="Sobsk" type="n0:char2" />
          <xsd:element name="Frtme" type="n0:unit3" />
          <xsd:element name="Lgpro" type="n0:char4" />
          <xsd:element name="Disgr" type="n0:char4" />
          <xsd:element name="Kausf" type="n0:decimal5.2" />
          <xsd:element name="Qzgtp" type="n0:char4" />
          <xsd:element name="Qmatv" type="n0:char1" />
          <xsd:element name="Takzt" type="n0:decimal3.0" />
          <xsd:element name="Rwpro" type="n0:char3" />
          <xsd:element name="Copam" type="n0:char10" />
          <xsd:element name="Abcin" type="n0:char1" />
          <xsd:element name="Awsls" type="n0:char6" />
          <xsd:element name="Sernp" type="n0:char4" />
          <xsd:element name="Cuobj" type="n0:numeric18" />
          <xsd:element name="Stdpd" type="n0:char18" />
          <xsd:element name="Sfepr" type="n0:char4" />
          <xsd:element name="Xmcng" type="n0:char1" />
          <xsd:element name="Qssys" type="n0:char4" />
          <xsd:element name="Lfrhy" type="n0:char3" />
          <xsd:element name="Rdprf" type="n0:char4" />
          <xsd:element name="Vrbmt" type="n0:char18" />
          <xsd:element name="Vrbwk" type="n0:char4" />
          <xsd:element name="Vrbdt" type="n0:date10" />
          <xsd:element name="Vrbfk" type="n0:decimal4.2" />
          <xsd:element name="Autru" type="n0:char1" />
          <xsd:element name="Prefe" type="n0:char1" />
          <xsd:element name="Prenc" type="n0:char1" />
          <xsd:element name="Preno" type="n0:char8" />
          <xsd:element name="Prend" type="n0:date10" />
          <xsd:element name="Prene" type="n0:char1" />
          <xsd:element name="Preng" type="n0:date10" />
          <xsd:element name="Itark" type="n0:char1" />
          <xsd:element name="Servg" type="n0:char1" />
          <xsd:element name="Kzkup" type="n0:char1" />
          <xsd:element name="Strgr" type="n0:char2" />
          <xsd:element name="Cuobv" type="n0:numeric18" />
          <xsd:element name="Lgfsb" type="n0:char4" />
          <xsd:element name="Schgt" type="n0:char1" />
          <xsd:element name="Ccfix" type="n0:char1" />
          <xsd:element name="Eprio" type="n0:char4" />
          <xsd:element name="Qmata" type="n0:char6" />
          <xsd:element name="Resvp" type="n0:decimal3.0" />
          <xsd:element name="Plnty" type="n0:char1" />
          <xsd:element name="Uomgr" type="n0:char3" />
          <xsd:element name="Umrsl" type="n0:char4" />
          <xsd:element name="Abfac" type="n0:decimal2.1" />
          <xsd:element name="Sfcpf" type="n0:char6" />
          <xsd:element name="Shflg" type="n0:char1" />
          <xsd:element name="Shzet" type="n0:numeric2" />
          <xsd:element name="Mdach" type="n0:char2" />
          <xsd:element name="Kzech" type="n0:char1" />
          <xsd:element name="Megru" type="n0:char4" />
          <xsd:element name="Mfrgr" type="n0:char8" />
          <xsd:element name="Vkumc" type="n0:curr13.2" />
          <xsd:element name="Vktrw" type="n0:curr13.2" />
          <xsd:element name="Kzagl" type="n0:char1" />
          <xsd:element name="Fvidk" type="n0:char4" />
          <xsd:element name="Fxpru" type="n0:char1" />
          <xsd:element name="Loggr" type="n0:char4" />
          <xsd:element name="Fprfm" type="n0:char3" />
          <xsd:element name="Glgmg" type="n0:quantum13.3" />
          <xsd:element name="Vkglg" type="n0:curr13.2" />
          <xsd:element name="Indus" type="n0:char2" />
          <xsd:element name="Mownr" type="n0:char12" />
          <xsd:element name="Mogru" type="n0:char6" />
          <xsd:element name="Casnr" type="n0:char15" />
          <xsd:element name="Gpnum" type="n0:char9" />
          <xsd:element name="Steuc" type="n0:char16" />
          <xsd:element name="Fabkz" type="n0:char1" />
          <xsd:element name="Matgr" type="n0:char20" />
          <xsd:element name="Vspvb" type="n0:char10" />
          <xsd:element name="Dplfs" type="n0:char2" />
          <xsd:element name="Dplpu" type="n0:char1" />
          <xsd:element name="Dplho" type="n0:decimal3.0" />
          <xsd:element name="Minls" type="n0:quantum13.3" />
          <xsd:element name="Maxls" type="n0:quantum13.3" />
          <xsd:element name="Fixls" type="n0:quantum13.3" />
          <xsd:element name="Ltinc" type="n0:quantum13.3" />
          <xsd:element name="Compl" type="n0:numeric2" />
          <xsd:element name="Convt" type="n0:char2" />
          <xsd:element name="Shpro" type="n0:char3" />
          <xsd:element name="Ahdis" type="n0:char1" />
          <xsd:element name="Diber" type="n0:char1" />
          <xsd:element name="Kzpsp" type="n0:char1" />
          <xsd:element name="Ocmpf" type="n0:char6" />
          <xsd:element name="Apokz" type="n0:char1" />
          <xsd:element name="Mcrue" type="n0:char1" />
          <xsd:element name="Lfmon" type="n0:numeric2" />
          <xsd:element name="Lfgja" type="n0:numeric4" />
          <xsd:element name="Eislo" type="n0:quantum13.3" />
          <xsd:element name="Ncost" type="n0:char1" />
          <xsd:element name="RotationDate" type="n0:char1" />
          <xsd:element name="Uchkz" type="n0:char1" />
          <xsd:element name="Ucmat" type="n0:char18" />
          <xsd:element name="Bwesb" type="n0:quantum13.3" />
          <xsd:element name="SgtCovs" type="n0:char8" />
          <xsd:element name="SgtStatc" type="n0:char1" />
          <xsd:element name="SgtScope" type="n0:char1" />
          <xsd:element name="SgtMrpsi" type="n0:char1" />
          <xsd:element name="SgtPrcm" type="n0:char1" />
          <xsd:element name="SgtChint" type="n0:char1" />
          <xsd:element name="SgtStkPrt" type="n0:char1" />
          <xsd:element name="SgtDefsc" type="n0:char16" />
          <xsd:element name="FshMgArunReq" type="n0:char1" />
          <xsd:element name="FshSeaim" type="n0:char1" />
          <xsd:element name="_-vso_-rPkgrp" type="n0:char18" />
          <xsd:element name="_-vso_-rLaneNum" type="n0:char3" />
          <xsd:element name="_-vso_-rPalVend" type="n0:char18" />
          <xsd:element name="_-vso_-rForkDir" type="n0:char1" />
          <xsd:element name="IuidRelevant" type="n0:char1" />
          <xsd:element name="IuidType" type="n0:char10" />
          <xsd:element name="UidIea" type="n0:char1" />
          <xsd:element name="ConsProcg" type="n0:char1" />
          <xsd:element name="GiPrTime" type="n0:decimal3.0" />
          <xsd:element name="MultipleEkgrp" type="n0:char1" />
          <xsd:element name="RefSchema" type="n0:char2" />
          <xsd:element name="MinTroc" type="n0:numeric3" />
          <xsd:element name="MaxTroc" type="n0:numeric3" />
          <xsd:element name="TargetStock" type="n0:quantum13.3" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Makt">
        <xsd:sequence>
          <xsd:element name="Mandt" type="n0:clnt3" />
          <xsd:element name="Matnr" type="n0:char18" />
          <xsd:element name="Spras" type="n0:lang" />
          <xsd:element name="Maktx" type="n0:char40" />
          <xsd:element name="Maktg" type="n0:char40" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Tvm5t">
        <xsd:sequence>
          <xsd:element name="Mandt" type="n0:clnt3" />
          <xsd:element name="Spras" type="n0:lang" />
          <xsd:element name="Mvgr5" type="n0:char3" />
          <xsd:element name="Bezei" type="n0:char40" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="T024x">
        <xsd:sequence>
          <xsd:element name="Mandt" type="n0:clnt3" />
          <xsd:element name="Spras" type="n0:lang" />
          <xsd:element name="Labor" type="n0:char3" />
          <xsd:element name="Lbtxt" type="n0:char30" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Mean">
        <xsd:sequence>
          <xsd:element name="Mandt" type="n0:clnt3" />
          <xsd:element name="Matnr" type="n0:char18" />
          <xsd:element name="Meinh" type="n0:unit3" />
          <xsd:element name="Lfnum" type="n0:char5" />
          <xsd:element name="Ean11" type="n0:char18" />
          <xsd:element name="Eantp" type="n0:char2" />
          <xsd:element name="Hpean" type="n0:char1" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Ze1Mt00015">
        <xsd:sequence>
          <xsd:element name="Mandt" type="n0:clnt3" />
          <xsd:element name="Matnr" type="n0:char18" />
          <xsd:element name="Imballo" type="n0:char2" />
          <xsd:element name="PzXSc" type="n0:numeric3" />
          <xsd:element name="ScXPal" type="n0:numeric3" />
          <xsd:element name="M2XPal" type="n0:quantum15.3" />
          <xsd:element name="Ean11Sc" type="n0:char18" />
          <xsd:element name="Ean11Pal" type="n0:char18" />
          <xsd:element name="CodImb" type="n0:char2" />
          <xsd:element name="PallLarg" type="n0:numeric3" />
          <xsd:element name="PallProf" type="n0:numeric3" />
          <xsd:element name="PallAlt" type="n0:numeric3" />
          <xsd:element name="PallAltP" type="n0:numeric3" />
          <xsd:element name="PallPian" type="n0:numeric2" />
          <xsd:element name="PallColPia" type="n0:numeric3" />
          <xsd:element name="Testo" type="n0:char20" />
          <xsd:element name="ImballoAlterna" type="n0:char18" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZclassificazioneZ01">
        <xsd:sequence>
          <xsd:element name="EtileUmconsegna" type="n0:char30" />
          <xsd:element name="EtileUmstatistica" type="n0:char30" />
          <xsd:element name="EtileUmbaseUmconsegna" type="xsd:float" />
          <xsd:element name="EtileUmbaseUmstatistica" type="xsd:float" />
          <xsd:element name="EtileUmbaseCollo" type="xsd:float" />
          <xsd:element name="EtileUmbaseMl" type="xsd:float" />
          <xsd:element name="EtilePezziScatola" type="xsd:float" />
          <xsd:element name="EtileScatolePallet" type="xsd:float" />
          <xsd:element name="EtilePallLargh" type="xsd:float" />
          <xsd:element name="EtilePallProfond" type="xsd:float" />
          <xsd:element name="EtilePallAltezzaPalCompl" type="xsd:float" />
          <xsd:element name="EtilePallAltezSingolPiano" type="xsd:float" />
          <xsd:element name="EtilePallNumeroPiani" type="xsd:float" />
          <xsd:element name="EtilePallColliPerPiano" type="xsd:float" />
          <xsd:element name="EtilePallAltezzaPianale" type="xsd:float" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Zclassificazione001DatiProd">
        <xsd:sequence>
          <xsd:element name="EtileScelta1" type="n0:char30" />
          <xsd:element name="EtileCodMatAlternativo1" type="n0:char30" />
          <xsd:element name="EtileMarcata1" type="n0:char30" />
          <xsd:element name="EtileDescrizImballoScelta1" type="n0:char30" />
          <xsd:element name="EtilePaletta1" type="n0:char30" />
          <xsd:element name="EtileEtichettaLog1" type="n0:char30" />
          <xsd:element name="EtileBarcodeScatolaScelta1" type="n0:char30" />
          <xsd:element name="EtileFormClient1" type="n0:char30" />
          <xsd:element name="EtileCodiceProdCliente1" type="n0:char30" />
          <xsd:element name="EtileScelta2" type="n0:char30" />
          <xsd:element name="EtileCodMatAlternativo2" type="n0:char30" />
          <xsd:element name="EtileMarcata2" type="n0:char30" />
          <xsd:element name="EtileDescrizImballoScelta2" type="n0:char30" />
          <xsd:element name="EtilePaletta2" type="n0:char30" />
          <xsd:element name="EtileEtichettaLog2" type="n0:char30" />
          <xsd:element name="EtileBarcodeScatolaScelta2" type="n0:char30" />
          <xsd:element name="EtileFormClient2" type="n0:char30" />
          <xsd:element name="EtileCodiceProdCliente2" type="n0:char30" />
          <xsd:element name="EtileScelta3" type="n0:char30" />
          <xsd:element name="EtileCodMatAlternativo3" type="n0:char30" />
          <xsd:element name="EtileMarcata3" type="n0:char30" />
          <xsd:element name="EtileDescrizImballoScelta3" type="n0:char30" />
          <xsd:element name="EtilePaletta3" type="n0:char30" />
          <xsd:element name="EtileEtichettaLog3" type="n0:char30" />
          <xsd:element name="EtileBarcodeScatolaScelta3" type="n0:char30" />
          <xsd:element name="EtileFormClient3" type="n0:char30" />
          <xsd:element name="EtileCodiceProdCliente3" type="n0:char30" />
          <xsd:element name="EtileScelta4" type="n0:char30" />
          <xsd:element name="EtileCodMatAlternativo4" type="n0:char30" />
          <xsd:element name="EtileMarcata4" type="n0:char30" />
          <xsd:element name="EtileDescrizImballoScelta4" type="n0:char30" />
          <xsd:element name="EtilePaletta4" type="n0:char30" />
          <xsd:element name="EtileEtichettaLog4" type="n0:char30" />
          <xsd:element name="EtileBarcodeScatolaScelta4" type="n0:char30" />
          <xsd:element name="EtileFormClient4" type="n0:char30" />
          <xsd:element name="EtileCodiceProdCliente4" type="n0:char30" />
          <xsd:element name="EtileScelta5" type="n0:char30" />
          <xsd:element name="EtileCodMatAlternativo5" type="n0:char30" />
          <xsd:element name="EtileMarcata5" type="n0:char30" />
          <xsd:element name="EtileDescrizImballoScelta5" type="n0:char30" />
          <xsd:element name="EtilePaletta5" type="n0:char30" />
          <xsd:element name="EtileEtichettaLog5" type="n0:char30" />
          <xsd:element name="EtileBarcodeScatolaScelta5" type="n0:char30" />
          <xsd:element name="EtileFormClient5" type="n0:char30" />
          <xsd:element name="EtileCodiceProdCliente5" type="n0:char30" />
          <xsd:element name="EtileNota1Produzione" type="n0:char30" />
          <xsd:element name="EtileNota2Produzione" type="n0:char30" />
          <xsd:element name="Ze1Spessorenominale" type="n0:char30" />
          <xsd:element name="Ze1Spessorereale" type="n0:char30" />
          <xsd:element name="Ze1Fuga" type="n0:char30" />
          <xsd:element name="Ze1Certificazione" type="n0:char30" />
          <xsd:element name="Ze1ClasseAbrasione" type="n0:char30" />
          <xsd:element name="Ze1Progetto" type="n0:char30" />
          <xsd:element name="Ze1ResistenzaGelo" type="n0:char30" />
          <xsd:element name="Ze1Scivolosita" type="n0:char30" />
          <xsd:element name="Ze1ScivolositaR" type="n0:char30" />
          <xsd:element name="Ze1VariazCromatiche" type="n0:char30" />
          <xsd:element name="EtileEan128CompanyPrefix" type="n0:char30" />
          <xsd:element name="ZVarianteImbDefault" type="n0:char30" />
          <xsd:element name="ZTipoFustella" type="n0:char30" />
          <xsd:element name="ZGlUgl" type="n0:char30" />
          <xsd:element name="ZSiglaUni" type="n0:char30" />
          <xsd:element name="ZTipologiaSuperfic" type="n0:char30" />
          <xsd:element name="ZOrgCommEtich" type="n0:char30" />
          <xsd:element name="ZLeedCompliant" type="n0:char30" />
          <xsd:element name="ZDescrSpecBreve" type="n0:char30" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapiret2">
        <xsd:sequence>
          <xsd:element name="Type" type="n0:char1" />
          <xsd:element name="Id" type="n0:char20" />
          <xsd:element name="Number" type="n0:numeric3" />
          <xsd:element name="Message" type="n0:char220" />
          <xsd:element name="LogNo" type="n0:char20" />
          <xsd:element name="LogMsgNo" type="n0:numeric6" />
          <xsd:element name="MessageV1" type="n0:char50" />
          <xsd:element name="MessageV2" type="n0:char50" />
          <xsd:element name="MessageV3" type="n0:char50" />
          <xsd:element name="MessageV4" type="n0:char50" />
          <xsd:element name="Parameter" type="n0:char32" />
          <xsd:element name="Row" type="xsd:int" />
          <xsd:element name="Field" type="n0:char30" />
          <xsd:element name="System" type="n0:char10" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZtmbMaterialList">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZmbMaterialList" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZwmMbGetMaterialList">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="ICharg" type="n0:char10" />
            <xsd:element minOccurs="0" name="IEnableDebug" type="n0:char1" />
            <xsd:element minOccurs="0" name="ILanguage" type="n0:lang" />
            <xsd:element minOccurs="0" name="ILfnum" type="n0:char5" />
            <xsd:element name="IMatnr" type="n0:char18" />
            <xsd:element minOccurs="0" name="IUdmLangConversion" type="n0:char1" />
            <xsd:element minOccurs="0" name="IVkorg" type="n0:char4" />
            <xsd:element minOccurs="0" name="IVtweg" type="n0:char2" />
            <xsd:element name="IWerks" type="n0:char4" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZwmMbGetMaterialListResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="EErrorCode" type="n0:char10" />
            <xsd:element name="EErrorDescription" type="n0:string" />
            <xsd:element name="EErrorSubrc" type="xsd:int" />
            <xsd:element name="EFoundData" type="tns:ZtmbMaterialList" />
            <xsd:element name="EFoundrows" type="xsd:int" />
            <xsd:element name="EReturn" type="tns:Bapiret2" />
            <xsd:element name="ESuccess" type="n0:char4" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZwmMbGetMaterialList">
    <wsdl:part name="parameters" element="tns:ZwmMbGetMaterialList" />
  </wsdl:message>
  <wsdl:message name="ZwmMbGetMaterialListResponse">
    <wsdl:part name="parameter" element="tns:ZwmMbGetMaterialListResponse" />
  </wsdl:message>
  <wsdl:portType name="ZWS_MB_GET_MATERIAL_LIST">
    <wsdl:documentation>
      <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
        <sapdoc:docitem docURL="http://CLDDEV01.pancloud.local:50040/sap/bc/esdt/docu/sd_text?sap-client=100&amp;sd_name=ZWS_MB_GET_MATERIAL_LIST" />
      </sapdoc:sapdoc>
    </wsdl:documentation>
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF__ZWS_MB_GET_MATERIAL_LIST" />
    </wsp:Policy>
    <wsdl:operation name="ZwmMbGetMaterialList">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP__ZwmMbGetMaterialList" />
      </wsp:Policy>
      <wsdl:input message="tns:ZwmMbGetMaterialList" />
      <wsdl:output message="tns:ZwmMbGetMaterialListResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZWS_MB_GET_MATERIAL_LIST" type="tns:ZWS_MB_GET_MATERIAL_LIST">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__ZWS_MB_GET_MATERIAL_LIST" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZwmMbGetMaterialList">
      <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZWS_MB_GET_MATERIAL_LIST:ZwmMbGetMaterialListRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZWS_MB_GET_MATERIAL_LIST_soap12" type="tns:ZWS_MB_GET_MATERIAL_LIST">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__ZWS_MB_GET_MATERIAL_LIST_soap12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZwmMbGetMaterialList">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZWS_MB_GET_MATERIAL_LIST:ZwmMbGetMaterialListRequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZWS_MB_GET_MATERIAL_LIST">
    <wsdl:port name="ZWS_MB_GET_MATERIAL_LIST" binding="tns:ZWS_MB_GET_MATERIAL_LIST">
      <soap:address location="http://CLDDEV01.pancloud.local:50040/sap/bc/srt/rfc/sap/zws_mb_get_material_list/100/zws_mb_get_material_list/zws_mb_get_material_list" />
    </wsdl:port>
    <wsdl:port name="ZWS_MB_GET_MATERIAL_LIST_soap12" binding="tns:ZWS_MB_GET_MATERIAL_LIST_soap12">
      <wsoap12:address location="http://CLDDEV01.pancloud.local:50040/sap/bc/srt/rfc/sap/zws_mb_get_material_list/100/zws_mb_get_material_list/zws_mb_get_material_list" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>