Web References/WS_JOB_EM_STEPS_EXECUTED/ZWS_JOB_EM_STEPS_EXECUTED_PUSA_DEV_100.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN__ZWS_JOB_EM_STEPS_EXECUTED">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN__ZWS_JOB_EM_STEPS_EXECUTED_soap12">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF__ZWS_JOB_EM_STEPS_EXECUTED">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
          <sapsession:enableSession>false</sapsession:enableSession>
        </sapsession:Session>
        <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
          <sapcentraladmin:BusinessApplicationID>000C29FD93861EE589E23A0884D34E8B</sapcentraladmin:BusinessApplicationID>
        </sapcentraladmin:CentralAdministration>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP__ZwmsJobEmStepsExecuted">
    <wsp:ExactlyOne>
      <wsp:All>
        <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
        <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
        <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
        <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char12">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="12" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char16">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="16" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char220">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="220" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char32">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="32" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char40">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="clnt3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="lang">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantum15.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="15" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="string">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="time">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:simpleType name="unit3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:complexType name="ZwmsStepsExecutedMatInfo">
        <xsd:sequence>
          <xsd:element name="MatnrOri" type="n0:char18" />
          <xsd:element name="WerksOri" type="n0:char4" />
          <xsd:element name="LgortOri" type="n0:char4" />
          <xsd:element name="ChargOri" type="n0:char10" />
          <xsd:element name="QtaExecuted" type="n0:quantum15.3" />
          <xsd:element name="UdmQtaExecuted" type="n0:unit3" />
          <xsd:element name="Bestq" type="n0:char1" />
          <xsd:element name="Sobkz" type="n0:char1" />
          <xsd:element name="Sonum" type="n0:char16" />
          <xsd:element name="LqnumOri" type="n0:numeric10" />
          <xsd:element name="LgnumOri" type="n0:char3" />
          <xsd:element name="LgtypOri" type="n0:char3" />
          <xsd:element name="LgplaOri" type="n0:char10" />
          <xsd:element name="LenumOri" type="n0:char20" />
          <xsd:element name="Letyp" type="n0:char3" />
          <xsd:element name="LqnumDest" type="n0:numeric10" />
          <xsd:element name="LgnumDest" type="n0:char3" />
          <xsd:element name="LgtypDest" type="n0:char3" />
          <xsd:element name="LgplaDest" type="n0:char10" />
          <xsd:element name="LenumDest" type="n0:char20" />
          <xsd:element name="MatnrDest" type="n0:char18" />
          <xsd:element name="WerksDest" type="n0:char4" />
          <xsd:element name="LgortDest" type="n0:char4" />
          <xsd:element name="ChargDest" type="n0:char10" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapiret2">
        <xsd:sequence>
          <xsd:element name="Type" type="n0:char1" />
          <xsd:element name="Id" type="n0:char20" />
          <xsd:element name="Number" type="n0:numeric3" />
          <xsd:element name="Message" type="n0:char220" />
          <xsd:element name="LogNo" type="n0:char20" />
          <xsd:element name="LogMsgNo" type="n0:numeric6" />
          <xsd:element name="MessageV1" type="n0:char50" />
          <xsd:element name="MessageV2" type="n0:char50" />
          <xsd:element name="MessageV3" type="n0:char50" />
          <xsd:element name="MessageV4" type="n0:char50" />
          <xsd:element name="Parameter" type="n0:char32" />
          <xsd:element name="Row" type="xsd:int" />
          <xsd:element name="Field" type="n0:char30" />
          <xsd:element name="System" type="n0:char10" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZwmsJobs">
        <xsd:sequence>
          <xsd:element name="Mandt" type="n0:clnt3" />
          <xsd:element name="ZnrWmsJobs" type="xsd:int" />
          <xsd:element name="Sequence" type="xsd:int" />
          <xsd:element name="SequencePrint" type="xsd:int" />
          <xsd:element name="ExecPrint" type="n0:char1" />
          <xsd:element name="PrintDone" type="n0:char1" />
          <xsd:element name="CurrentStep" type="xsd:unsignedByte" />
          <xsd:element name="NumStepsTotal" type="n0:numeric4" />
          <xsd:element name="DataCreazione" type="n0:date10" />
          <xsd:element name="OraCreazione" type="n0:time" />
          <xsd:element name="PickDbtabname" type="n0:char16" />
          <xsd:element name="Znrpick" type="n0:char10" />
          <xsd:element name="Zpospk" type="n0:numeric6" />
          <xsd:element name="Vbeln" type="n0:char10" />
          <xsd:element name="Posnr" type="n0:numeric6" />
          <xsd:element name="NumConsVbelv" type="n0:char10" />
          <xsd:element name="PosConsPosnv" type="n0:numeric6" />
          <xsd:element name="KunnrAg" type="n0:char10" />
          <xsd:element name="KunnrWe" type="n0:char10" />
          <xsd:element name="KunnrRg" type="n0:char10" />
          <xsd:element name="ZnrWmsJobsgrp" type="n0:char10" />
          <xsd:element name="ZnrWmsGrpexec" type="xsd:int" />
          <xsd:element name="Mblnr" type="n0:char10" />
          <xsd:element name="Mjahr" type="n0:numeric4" />
          <xsd:element name="Zeile" type="n0:numeric4" />
          <xsd:element name="Idstatus" type="xsd:short" />
          <xsd:element name="IdJobsType" type="n0:char3" />
          <xsd:element name="IdWmsDevices" type="n0:char3" />
          <xsd:element name="Priorita" type="xsd:int" />
          <xsd:element name="Urgente" type="n0:char1" />
          <xsd:element name="MatnrOri" type="n0:char18" />
          <xsd:element name="WerksOri" type="n0:char4" />
          <xsd:element name="LgortOri" type="n0:char4" />
          <xsd:element name="ChargOri" type="n0:char10" />
          <xsd:element name="BestqOri" type="n0:char1" />
          <xsd:element name="SobkzOri" type="n0:char1" />
          <xsd:element name="SonumOri" type="n0:char16" />
          <xsd:element name="MeinsOri" type="n0:unit3" />
          <xsd:element name="ZqtapkOri" type="n0:quantum15.3" />
          <xsd:element name="MeinsPz" type="n0:unit3" />
          <xsd:element name="ZqtapkOriPz" type="n0:quantum15.3" />
          <xsd:element name="ZqtaPrelBase" type="n0:quantum15.3" />
          <xsd:element name="UdmQtaprMeins" type="n0:unit3" />
          <xsd:element name="ZqtaPrelCons" type="n0:quantum15.3" />
          <xsd:element name="UdmQtaprCons" type="n0:unit3" />
          <xsd:element name="ZqtaPrelPz" type="n0:quantum15.3" />
          <xsd:element name="UdmQtaprPz" type="n0:unit3" />
          <xsd:element name="Zflawm" type="n0:char1" />
          <xsd:element name="PalletInteri" type="n0:char1" />
          <xsd:element name="ScatoleIntere" type="n0:char1" />
          <xsd:element name="ZtipoEntmerce" type="n0:char1" />
          <xsd:element name="Zforceddest" type="n0:char1" />
          <xsd:element name="Zforcspuntaconf" type="n0:char1" />
          <xsd:element name="ZcarrProp" type="n0:char12" />
          <xsd:element name="ZcarrExec" type="n0:char12" />
          <xsd:element name="LgnumOri" type="n0:char3" />
          <xsd:element name="LgtypOri" type="n0:char3" />
          <xsd:element name="LgplaOri" type="n0:char10" />
          <xsd:element name="LenumOri" type="n0:char20" />
          <xsd:element name="LgnumDest" type="n0:char3" />
          <xsd:element name="LgtypDest" type="n0:char3" />
          <xsd:element name="LgplaDest" type="n0:char10" />
          <xsd:element name="LenumDest" type="n0:char20" />
          <xsd:element name="MatnrDest" type="n0:char18" />
          <xsd:element name="WerksDest" type="n0:char4" />
          <xsd:element name="LgortDest" type="n0:char4" />
          <xsd:element name="ChargDest" type="n0:char10" />
          <xsd:element name="BestqDest" type="n0:char1" />
          <xsd:element name="SobkzDest" type="n0:char1" />
          <xsd:element name="SonumDest" type="n0:char16" />
          <xsd:element name="LgnumPropOri" type="n0:char3" />
          <xsd:element name="LgtypPropOri" type="n0:char3" />
          <xsd:element name="LgplaPropOri" type="n0:char10" />
          <xsd:element name="LenumPropOri" type="n0:char20" />
          <xsd:element name="OkQtaPropOri" type="n0:char1" />
          <xsd:element name="LgnumPropDest" type="n0:char3" />
          <xsd:element name="LgtypPropDest" type="n0:char3" />
          <xsd:element name="LgplaPropDest" type="n0:char10" />
          <xsd:element name="LenumPropDest" type="n0:char20" />
          <xsd:element name="OkQtaPropDest" type="n0:char1" />
          <xsd:element name="ChargTassativa" type="n0:char1" />
          <xsd:element name="Zdoc" type="n0:char3" />
          <xsd:element name="FornitoreLifnr" type="n0:char10" />
          <xsd:element name="Dele" type="n0:char1" />
          <xsd:element name="Memo" type="n0:char30" />
          <xsd:element name="ZzNdis" type="n0:char10" />
          <xsd:element name="Ernam" type="n0:char12" />
          <xsd:element name="Erdat" type="n0:date10" />
          <xsd:element name="Erzeit" type="n0:time" />
          <xsd:element name="Aenam" type="n0:char12" />
          <xsd:element name="Aedat" type="n0:date10" />
          <xsd:element name="Aezeit" type="n0:time" />
          <xsd:element name="DataStart" type="n0:date10" />
          <xsd:element name="OraStart" type="n0:time" />
          <xsd:element name="DataFine" type="n0:date10" />
          <xsd:element name="OraFine" type="n0:time" />
          <xsd:element name="ZnrWmsJobsOri" type="xsd:int" />
          <xsd:element name="ZwmsjobsgrpOri" type="n0:char10" />
          <xsd:element name="InfoPrelievo" type="n0:char40" />
          <xsd:element name="ZnrWmsJobsCar" type="n0:numeric10" />
          <xsd:element name="Ltkze" type="n0:char3" />
          <xsd:element name="Ltkza" type="n0:char3" />
          <xsd:element name="ZmatnrChkPron" type="n0:char3" />
          <xsd:element name="ZjobsShipped" type="n0:char1" />
          <xsd:element name="ZjobsShipCons" type="n0:char10" />
          <xsd:element name="ZjobsShipConp" type="n0:numeric6" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZwmsJobsSteps">
        <xsd:sequence>
          <xsd:element name="Mandt" type="n0:clnt3" />
          <xsd:element name="ZnrWmsJobs" type="xsd:int" />
          <xsd:element name="IdJobsType" type="n0:char3" />
          <xsd:element name="ZwmsJobsStep" type="n0:numeric4" />
          <xsd:element name="DataCreazione" type="n0:date10" />
          <xsd:element name="OraCreazione" type="n0:time" />
          <xsd:element name="Idstatus" type="xsd:short" />
          <xsd:element name="IdJobAction" type="n0:char10" />
          <xsd:element name="StepExecuted" type="n0:char1" />
          <xsd:element name="SingleExecution" type="n0:char1" />
          <xsd:element name="ZwmsFinalStep" type="n0:char1" />
          <xsd:element name="IdstatusBegin" type="xsd:short" />
          <xsd:element name="IdstatusEnd" type="xsd:short" />
          <xsd:element name="SourcePrecOt" type="n0:char1" />
          <xsd:element name="OkForcedEnd" type="n0:char1" />
          <xsd:element name="GetqtyPrevStep" type="n0:char1" />
          <xsd:element name="LstStepForEnd" type="n0:char1" />
          <xsd:element name="FrcStepDisacc" type="xsd:unsignedByte" />
          <xsd:element name="SequeEndStep" type="xsd:int" />
          <xsd:element name="UpdPrintFlag" type="n0:char1" />
          <xsd:element name="ChkLastGrpJob" type="n0:char1" />
          <xsd:element name="EnableLogicOri" type="n0:char1" />
          <xsd:element name="ZpropLogicOri" type="n0:char1" />
          <xsd:element name="ZmovMm" type="n0:char3" />
          <xsd:element name="ZenaOtmovDest" type="n0:char1" />
          <xsd:element name="ZenaOtmovOri" type="n0:char1" />
          <xsd:element name="Dele" type="n0:char1" />
          <xsd:element name="DataStart" type="n0:date10" />
          <xsd:element name="OraStart" type="n0:time" />
          <xsd:element name="DataFine" type="n0:date10" />
          <xsd:element name="OraFine" type="n0:time" />
          <xsd:element name="MeinsOri" type="n0:unit3" />
          <xsd:element name="ZqtapkOri" type="n0:quantum15.3" />
          <xsd:element name="ZqtaPrelBase" type="n0:quantum15.3" />
          <xsd:element name="UdmQtaprMeins" type="n0:unit3" />
          <xsd:element name="ZqtaPrelCons" type="n0:quantum15.3" />
          <xsd:element name="UdmQtaprCons" type="n0:unit3" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZwmsRetStepsExecuted">
        <xsd:sequence>
          <xsd:element name="Tanum" type="n0:numeric10" />
          <xsd:element name="MatDocNum" type="n0:char10" />
          <xsd:element name="MatDocYear" type="n0:numeric4" />
          <xsd:element name="ZdescrOpeExecuted" type="n0:char12" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZtwmsStepsExecutedMatInfo">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZwmsStepsExecutedMatInfo" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZtwmsRetStepsExecuted">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZwmsRetStepsExecuted" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZwmsJobEmStepsExecuted">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="ICreateJobsEnded" type="n0:char1" />
            <xsd:element minOccurs="0" name="IEnableDebug" type="n0:char1" />
            <xsd:element minOccurs="0" name="IFlagStepEnded" type="n0:char1" />
            <xsd:element minOccurs="0" name="IGetZwmsJobsRec" type="n0:char1" />
            <xsd:element minOccurs="0" name="IGetZwmsJobsStepsRec" type="n0:char1" />
            <xsd:element minOccurs="0" name="IIdJobAction" type="n0:char10" />
            <xsd:element minOccurs="0" name="IInfoPrelievo" type="n0:char40" />
            <xsd:element minOccurs="0" name="IJobsActDurata" type="xsd:int" />
            <xsd:element minOccurs="0" name="IJobsActEnDt" type="n0:date10" />
            <xsd:element minOccurs="0" name="IJobsActEnTm" type="n0:time" />
            <xsd:element minOccurs="0" name="IJobsActStDt" type="n0:date10" />
            <xsd:element minOccurs="0" name="IJobsActStTm" type="n0:time" />
            <xsd:element minOccurs="0" name="ISpras" type="n0:lang" />
            <xsd:element minOccurs="0" name="IUseridRf" type="n0:char12" />
            <xsd:element name="IZnrWmsJobs" type="xsd:int" />
            <xsd:element minOccurs="0" name="IZwmsAppVersion" type="n0:char20" />
            <xsd:element minOccurs="0" name="IZwmsComputer" type="n0:char32" />
            <xsd:element name="IZwmsJobsStep" type="n0:numeric4" />
            <xsd:element minOccurs="0" name="IZwmsMatInfoTab" type="tns:ZtwmsStepsExecutedMatInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZwmsJobEmStepsExecutedResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="EErrorCode" type="n0:char10" />
            <xsd:element name="EErrorDescription" type="n0:string" />
            <xsd:element name="EErrorSubrc" type="xsd:int" />
            <xsd:element name="EReturn" type="tns:Bapiret2" />
            <xsd:element name="ESuccess" type="n0:char4" />
            <xsd:element name="EWritedrows" type="xsd:int" />
            <xsd:element name="EZwmsJobsRec" type="tns:ZwmsJobs" />
            <xsd:element name="EZwmsJobsStepsRec" type="tns:ZwmsJobsSteps" />
            <xsd:element name="EZwmsRetStepsExecutedTab" type="tns:ZtwmsRetStepsExecuted" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZwmsJobEmStepsExecuted">
    <wsdl:part name="parameters" element="tns:ZwmsJobEmStepsExecuted" />
  </wsdl:message>
  <wsdl:message name="ZwmsJobEmStepsExecutedResponse">
    <wsdl:part name="parameter" element="tns:ZwmsJobEmStepsExecutedResponse" />
  </wsdl:message>
  <wsdl:portType name="ZWS_JOB_EM_STEPS_EXECUTED">
    <wsdl:documentation>
      <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
        <sapdoc:docitem docURL="http://CLDDEV01.pancloud.local:50040/sap/bc/esdt/docu/sd_text?sap-client=100&amp;sd_name=ZWS_JOB_EM_STEPS_EXECUTED" />
      </sapdoc:sapdoc>
    </wsdl:documentation>
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF__ZWS_JOB_EM_STEPS_EXECUTED" />
    </wsp:Policy>
    <wsdl:operation name="ZwmsJobEmStepsExecuted">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP__ZwmsJobEmStepsExecuted" />
      </wsp:Policy>
      <wsdl:input message="tns:ZwmsJobEmStepsExecuted" />
      <wsdl:output message="tns:ZwmsJobEmStepsExecutedResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZWS_JOB_EM_STEPS_EXECUTED" type="tns:ZWS_JOB_EM_STEPS_EXECUTED">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__ZWS_JOB_EM_STEPS_EXECUTED" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZwmsJobEmStepsExecuted">
      <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZWS_JOB_EM_STEPS_EXECUTED:ZwmsJobEmStepsExecutedRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZWS_JOB_EM_STEPS_EXECUTED_soap12" type="tns:ZWS_JOB_EM_STEPS_EXECUTED">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__ZWS_JOB_EM_STEPS_EXECUTED_soap12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZwmsJobEmStepsExecuted">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZWS_JOB_EM_STEPS_EXECUTED:ZwmsJobEmStepsExecutedRequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZWS_JOB_EM_STEPS_EXECUTED">
    <wsdl:port name="ZWS_JOB_EM_STEPS_EXECUTED" binding="tns:ZWS_JOB_EM_STEPS_EXECUTED">
      <soap:address location="http://CLDDEV01.pancloud.local:50040/sap/bc/srt/rfc/sap/zws_job_em_steps_executed/100/zws_job_em_steps_executed/zws_job_em_steps_executed" />
    </wsdl:port>
    <wsdl:port name="ZWS_JOB_EM_STEPS_EXECUTED_soap12" binding="tns:ZWS_JOB_EM_STEPS_EXECUTED_soap12">
      <wsoap12:address location="http://CLDDEV01.pancloud.local:50040/sap/bc/srt/rfc/sap/zws_job_em_steps_executed/100/zws_job_em_steps_executed/zws_job_em_steps_executed" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>